In [3]:
import os
import random
from collections import defaultdict
from pprint import pprint

import numpy as np
import pandas as pd

from lxml import etree

import altair as alt

In [6]:
# tagged directory included words with POS tagging; whereas untagged directory does not have POS tagging.
# change to your directory path
path = '' # change this to be your own path
dir_corpus = path + 'bnc2014spoken-xml/spoken/tagged/'
dir_meta = path + 'bnc2014spoken-xml/spoken/metadata/'

In [7]:
f_names = os.listdir(dir_corpus)
f_paths = [f"{dir_corpus}{f_name}" for f_name in f_names]

In [8]:
print()
f_paths

['bnc2014spoken-xml/spoken/tagged/S23A-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S24A-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S24D-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S24E-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S263-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S26N-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S27D-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S28F-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S29Q-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S29X-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S2A5-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S2AJ-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S2AX-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S2B5-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S2C9-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S2CY-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S2DD-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S2E2-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S2EF-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S2FQ-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S2FT-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S2GC-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S2GS-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S2JK-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S2JV-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S2K6-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S2K7-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S2KP-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S2LC-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S2LD-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S2NQ-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S2PS-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S2PY-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S2QU-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S2RD-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S2T6-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S2TC-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S2TP-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S2U9-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S2UJ-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S2UT-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S2W4-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S2XJ-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S2XV-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S2Y5-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S2YK-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S2ZU-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S323-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S32W-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S32Y-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S33B-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S33N-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S346-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S355-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S35K-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S35U-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S36Z-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S376-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S37E-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S37F-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S37K-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S37Y-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S382-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S38F-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S38P-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S38V-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S39D-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S3A9-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S3AC-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S3AV-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S3C6-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S3CK-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S3CP-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S3DA-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S3GS-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S3JF-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S3KY-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S3LE-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S3M4-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S3M9-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S3MW-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S3N4-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S3QD-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S3RL-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S3RN-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S3RZ-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S3S6-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S3SA-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S3SU-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S3TD-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S3TZ-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S3U3-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S3UC-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S3VM-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S3XC-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S3YZ-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S432-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S43M-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S43S-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S452-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S457-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S45F-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S46J-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S46Q-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S477-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S47C-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S48K-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S49H-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S49V-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S4BA-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S4C2-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S4CU-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S4D8-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S4HW-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S4JC-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S4K7-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S4KE-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S4KW-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S4L9-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S4MF-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S4MV-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S4NB-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S4PC-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S4PF-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S4QF-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S4QK-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S4RF-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S4S5-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S4T3-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S4TV-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S4VJ-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S4W8-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S4WJ-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S4XR-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S4YQ-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S4ZA-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S4ZT-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S527-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S52C-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S539-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S555-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S55B-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S55M-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S56S-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S575-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S57G-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S57J-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S59R-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S59W-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S5AA-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S5B4-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S5B6-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S5DJ-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S5EM-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S5ER-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S5HH-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S5HT-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S5J8-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S5JX-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S5LP-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S5MM-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S5P8-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S5PF-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S5PW-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S5QP-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S5QR-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S5RP-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S5SC-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S5SJ-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S5TE-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S5U8-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S5UJ-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S5XD-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S5XL-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S5YC-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S5YY-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S622-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S632-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S63K-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S63L-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S64H-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S66A-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S66E-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S66F-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S67P-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S682-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S68E-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S68F-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S69G-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S69V-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S6A5-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S6A7-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S6AK-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S6AP-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S6AZ-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S6BR-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S6BS-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S6EH-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S6EX-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S6GC-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S6H4-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S6HP-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S6J2-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S6J8-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S6JL-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S6JP-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S6KV-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S6MQ-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S6PD-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S6Q6-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S6QU-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S6R4-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S6SH-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S6TR-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S6UQ-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S6W8-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S6YA-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S6ZU-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S72E-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S72Q-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S73U-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S74A-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S75W-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S776-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S784-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S78E-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S78H-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S78P-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S79Y-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S7A6-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S7AR-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S7BR-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S7DR-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S7DT-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S7FK-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S7FU-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S7GJ-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S7GW-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S7HR-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S7JF-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S7JG-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S7JH-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S7JS-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S7K2-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S7KD-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S7KK-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S7LN-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S7MF-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S7MU-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S7NH-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S7NJ-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S7NV-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S7P2-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S7PM-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S7PU-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S7QE-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S7QU-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S7QY-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S7RA-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S7RD-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S7RM-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S7RW-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S7S2-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S7S7-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S7SU-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S7SX-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S7SZ-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S7TT-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S7UX-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S7V3-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S7VD-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S7WR-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S7WW-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S7WY-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S7Z8-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S7ZF-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S7ZG-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S839-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S83A-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S84P-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S85D-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S86J-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S87R-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S88R-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S8B9-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S8BQ-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S8CB-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S8CV-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S8CW-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S8G6-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S8GL-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S8J6-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S8JW-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S8K6-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S8K9-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S8LG-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S8LS-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S8NX-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S8PT-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S8PW-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S8Q3-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S8Q6-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S8RC-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S8RU-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S8RY-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S8S2-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S8SH-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S8TN-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S8U5-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S8VZ-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S8W2-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S8WS-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S8X7-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S8XE-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S8YL-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S92V-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S94U-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S94Z-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S954-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S95D-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S968-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S96L-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S97B-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S97Z-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S985-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S99N-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S99Z-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S9B9-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S9CH-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S9CR-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S9D7-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S9DE-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S9E6-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S9EP-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S9ER-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S9F7-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S9F9-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S9G2-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S9GP-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S9HC-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S9KS-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S9MK-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S9N4-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S9P6-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S9RV-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S9S8-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S9UA-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S9VA-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S9VB-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S9WB-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S9WP-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S9WZ-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S9X9-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S9YC-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S9YG-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S9ZL-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S9ZP-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/S9ZU-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/SA2B-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/SA2J-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/SA4W-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/SA69-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/SA6K-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/SA6W-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/SA7J-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/SA88-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/SA9P-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/SA9T-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/SA9U-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/SAA3-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/SAAB-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/SAAF-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/SAB7-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/SABT-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/SACQ-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/SADE-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/SAF8-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/SAFZ-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/SAG4-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/SAHB-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/SAMQ-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/SAQD-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/SAR5-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/SASC-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/SASQ-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/SASU-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/SAT9-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/SAUJ-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/SAUR-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/SAVH-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/SAVN-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/SAVW-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/SAXQ-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/SAZ8-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/SAZX-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/SAZY-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/SB2H-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/SB32-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/SB49-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/SB4D-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/SB5E-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/SB6S-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/SB7R-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/SB9K-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/SBA6-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/SBB2-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/SBBC-tgd.xml',
 'bnc2014spoken-xml/spoken/tagged/SBBP-tgd.xml',

In [152]:
dir_corpus = 'bnc2014spoken-xml/spoken/untagged/'
print(dir_corpus)
f_names = os.listdir(dir_corpus)
f_paths = [f"{dir_corpus}{f_name}" for f_name in f_names]

bnc2014spoken-xml/spoken/untagged/

In [139]:
print('bnc2014spoken-xml/spoken/untagged/S2A5.xml' in f_paths)

# f_paths = ['bnc2014spoken-xml/spoken/untagged/S2A5.xml']

f_paths

True

['bnc2014spoken-xml/spoken/untagged/S23A.xml',
 'bnc2014spoken-xml/spoken/untagged/S24A.xml',
 'bnc2014spoken-xml/spoken/untagged/S24D.xml',
 'bnc2014spoken-xml/spoken/untagged/S24E.xml',
 'bnc2014spoken-xml/spoken/untagged/S263.xml',
 'bnc2014spoken-xml/spoken/untagged/S26N.xml',
 'bnc2014spoken-xml/spoken/untagged/S27D.xml',
 'bnc2014spoken-xml/spoken/untagged/S28F.xml',
 'bnc2014spoken-xml/spoken/untagged/S29Q.xml',
 'bnc2014spoken-xml/spoken/untagged/S29X.xml',
 'bnc2014spoken-xml/spoken/untagged/S2A5.xml',
 'bnc2014spoken-xml/spoken/untagged/S2AJ.xml',
 'bnc2014spoken-xml/spoken/untagged/S2AX.xml',
 'bnc2014spoken-xml/spoken/untagged/S2B5.xml',
 'bnc2014spoken-xml/spoken/untagged/S2C9.xml',
 'bnc2014spoken-xml/spoken/untagged/S2CY.xml',
 'bnc2014spoken-xml/spoken/untagged/S2DD.xml',
 'bnc2014spoken-xml/spoken/untagged/S2E2.xml',
 'bnc2014spoken-xml/spoken/untagged/S2EF.xml',
 'bnc2014spoken-xml/spoken/untagged/S2FQ.xml',
 'bnc2014spoken-xml/spoken/untagged/S2FT.xml',
 'bnc2014spoken-xml/spoken/untagged/S2GC.xml',
 'bnc2014spoken-xml/spoken/untagged/S2GS.xml',
 'bnc2014spoken-xml/spoken/untagged/S2JK.xml',
 'bnc2014spoken-xml/spoken/untagged/S2JV.xml',
 'bnc2014spoken-xml/spoken/untagged/S2K6.xml',
 'bnc2014spoken-xml/spoken/untagged/S2K7.xml',
 'bnc2014spoken-xml/spoken/untagged/S2KP.xml',
 'bnc2014spoken-xml/spoken/untagged/S2LC.xml',
 'bnc2014spoken-xml/spoken/untagged/S2LD.xml',
 'bnc2014spoken-xml/spoken/untagged/S2NQ.xml',
 'bnc2014spoken-xml/spoken/untagged/S2PS.xml',
 'bnc2014spoken-xml/spoken/untagged/S2PY.xml',
 'bnc2014spoken-xml/spoken/untagged/S2QU.xml',
 'bnc2014spoken-xml/spoken/untagged/S2RD.xml',
 'bnc2014spoken-xml/spoken/untagged/S2T6.xml',
 'bnc2014spoken-xml/spoken/untagged/S2TC.xml',
 'bnc2014spoken-xml/spoken/untagged/S2TP.xml',
 'bnc2014spoken-xml/spoken/untagged/S2U9.xml',
 'bnc2014spoken-xml/spoken/untagged/S2UJ.xml',
 'bnc2014spoken-xml/spoken/untagged/S2UT.xml',
 'bnc2014spoken-xml/spoken/untagged/S2W4.xml',
 'bnc2014spoken-xml/spoken/untagged/S2XJ.xml',
 'bnc2014spoken-xml/spoken/untagged/S2XV.xml',
 'bnc2014spoken-xml/spoken/untagged/S2Y5.xml',
 'bnc2014spoken-xml/spoken/untagged/S2YK.xml',
 'bnc2014spoken-xml/spoken/untagged/S2ZU.xml',
 'bnc2014spoken-xml/spoken/untagged/S323.xml',
 'bnc2014spoken-xml/spoken/untagged/S32W.xml',
 'bnc2014spoken-xml/spoken/untagged/S32Y.xml',
 'bnc2014spoken-xml/spoken/untagged/S33B.xml',
 'bnc2014spoken-xml/spoken/untagged/S33N.xml',
 'bnc2014spoken-xml/spoken/untagged/S346.xml',
 'bnc2014spoken-xml/spoken/untagged/S355.xml',
 'bnc2014spoken-xml/spoken/untagged/S35K.xml',
 'bnc2014spoken-xml/spoken/untagged/S35U.xml',
 'bnc2014spoken-xml/spoken/untagged/S36Z.xml',
 'bnc2014spoken-xml/spoken/untagged/S376.xml',
 'bnc2014spoken-xml/spoken/untagged/S37E.xml',
 'bnc2014spoken-xml/spoken/untagged/S37F.xml',
 'bnc2014spoken-xml/spoken/untagged/S37K.xml',
 'bnc2014spoken-xml/spoken/untagged/S37Y.xml',
 'bnc2014spoken-xml/spoken/untagged/S382.xml',
 'bnc2014spoken-xml/spoken/untagged/S38F.xml',
 'bnc2014spoken-xml/spoken/untagged/S38P.xml',
 'bnc2014spoken-xml/spoken/untagged/S38V.xml',
 'bnc2014spoken-xml/spoken/untagged/S39D.xml',
 'bnc2014spoken-xml/spoken/untagged/S3A9.xml',
 'bnc2014spoken-xml/spoken/untagged/S3AC.xml',
 'bnc2014spoken-xml/spoken/untagged/S3AV.xml',
 'bnc2014spoken-xml/spoken/untagged/S3C6.xml',
 'bnc2014spoken-xml/spoken/untagged/S3CK.xml',
 'bnc2014spoken-xml/spoken/untagged/S3CP.xml',
 'bnc2014spoken-xml/spoken/untagged/S3DA.xml',
 'bnc2014spoken-xml/spoken/untagged/S3GS.xml',
 'bnc2014spoken-xml/spoken/untagged/S3JF.xml',
 'bnc2014spoken-xml/spoken/untagged/S3KY.xml',
 'bnc2014spoken-xml/spoken/untagged/S3LE.xml',
 'bnc2014spoken-xml/spoken/untagged/S3M4.xml',
 'bnc2014spoken-xml/spoken/untagged/S3M9.xml',
 'bnc2014spoken-xml/spoken/untagged/S3MW.xml',
 'bnc2014spoken-xml/spoken/untagged/S3N4.xml',
 'bnc2014spoken-xml/spoken/untagged/S3QD.xml',
 'bnc2014spoken-xml/spoken/untagged/S3RL.xml',
 'bnc2014spoken-xml/spoken/untagged/S3RN.xml',
 'bnc2014spoken-xml/spoken/untagged/S3RZ.xml',
 'bnc2014spoken-xml/spoken/untagged/S3S6.xml',
 'bnc2014spoken-xml/spoken/untagged/S3SA.xml',
 'bnc2014spoken-xml/spoken/untagged/S3SU.xml',
 'bnc2014spoken-xml/spoken/untagged/S3TD.xml',
 'bnc2014spoken-xml/spoken/untagged/S3TZ.xml',
 'bnc2014spoken-xml/spoken/untagged/S3U3.xml',
 'bnc2014spoken-xml/spoken/untagged/S3UC.xml',
 'bnc2014spoken-xml/spoken/untagged/S3VM.xml',
 'bnc2014spoken-xml/spoken/untagged/S3XC.xml',
 'bnc2014spoken-xml/spoken/untagged/S3YZ.xml',
 'bnc2014spoken-xml/spoken/untagged/S432.xml',
 'bnc2014spoken-xml/spoken/untagged/S43M.xml',
 'bnc2014spoken-xml/spoken/untagged/S43S.xml',
 'bnc2014spoken-xml/spoken/untagged/S452.xml',
 'bnc2014spoken-xml/spoken/untagged/S457.xml',
 'bnc2014spoken-xml/spoken/untagged/S45F.xml',
 'bnc2014spoken-xml/spoken/untagged/S46J.xml',
 'bnc2014spoken-xml/spoken/untagged/S46Q.xml',
 'bnc2014spoken-xml/spoken/untagged/S477.xml',
 'bnc2014spoken-xml/spoken/untagged/S47C.xml',
 'bnc2014spoken-xml/spoken/untagged/S48K.xml',
 'bnc2014spoken-xml/spoken/untagged/S49H.xml',
 'bnc2014spoken-xml/spoken/untagged/S49V.xml',
 'bnc2014spoken-xml/spoken/untagged/S4BA.xml',
 'bnc2014spoken-xml/spoken/untagged/S4C2.xml',
 'bnc2014spoken-xml/spoken/untagged/S4CU.xml',
 'bnc2014spoken-xml/spoken/untagged/S4D8.xml',
 'bnc2014spoken-xml/spoken/untagged/S4HW.xml',
 'bnc2014spoken-xml/spoken/untagged/S4JC.xml',
 'bnc2014spoken-xml/spoken/untagged/S4K7.xml',
 'bnc2014spoken-xml/spoken/untagged/S4KE.xml',
 'bnc2014spoken-xml/spoken/untagged/S4KW.xml',
 'bnc2014spoken-xml/spoken/untagged/S4L9.xml',
 'bnc2014spoken-xml/spoken/untagged/S4MF.xml',
 'bnc2014spoken-xml/spoken/untagged/S4MV.xml',
 'bnc2014spoken-xml/spoken/untagged/S4NB.xml',
 'bnc2014spoken-xml/spoken/untagged/S4PC.xml',
 'bnc2014spoken-xml/spoken/untagged/S4PF.xml',
 'bnc2014spoken-xml/spoken/untagged/S4QF.xml',
 'bnc2014spoken-xml/spoken/untagged/S4QK.xml',
 'bnc2014spoken-xml/spoken/untagged/S4RF.xml',
 'bnc2014spoken-xml/spoken/untagged/S4S5.xml',
 'bnc2014spoken-xml/spoken/untagged/S4T3.xml',
 'bnc2014spoken-xml/spoken/untagged/S4TV.xml',
 'bnc2014spoken-xml/spoken/untagged/S4VJ.xml',
 'bnc2014spoken-xml/spoken/untagged/S4W8.xml',
 'bnc2014spoken-xml/spoken/untagged/S4WJ.xml',
 'bnc2014spoken-xml/spoken/untagged/S4XR.xml',
 'bnc2014spoken-xml/spoken/untagged/S4YQ.xml',
 'bnc2014spoken-xml/spoken/untagged/S4ZA.xml',
 'bnc2014spoken-xml/spoken/untagged/S4ZT.xml',
 'bnc2014spoken-xml/spoken/untagged/S527.xml',
 'bnc2014spoken-xml/spoken/untagged/S52C.xml',
 'bnc2014spoken-xml/spoken/untagged/S539.xml',
 'bnc2014spoken-xml/spoken/untagged/S555.xml',
 'bnc2014spoken-xml/spoken/untagged/S55B.xml',
 'bnc2014spoken-xml/spoken/untagged/S55M.xml',
 'bnc2014spoken-xml/spoken/untagged/S56S.xml',
 'bnc2014spoken-xml/spoken/untagged/S575.xml',
 'bnc2014spoken-xml/spoken/untagged/S57G.xml',
 'bnc2014spoken-xml/spoken/untagged/S57J.xml',
 'bnc2014spoken-xml/spoken/untagged/S59R.xml',
 'bnc2014spoken-xml/spoken/untagged/S59W.xml',
 'bnc2014spoken-xml/spoken/untagged/S5AA.xml',
 'bnc2014spoken-xml/spoken/untagged/S5B4.xml',
 'bnc2014spoken-xml/spoken/untagged/S5B6.xml',
 'bnc2014spoken-xml/spoken/untagged/S5DJ.xml',
 'bnc2014spoken-xml/spoken/untagged/S5EM.xml',
 'bnc2014spoken-xml/spoken/untagged/S5ER.xml',
 'bnc2014spoken-xml/spoken/untagged/S5HH.xml',
 'bnc2014spoken-xml/spoken/untagged/S5HT.xml',
 'bnc2014spoken-xml/spoken/untagged/S5J8.xml',
 'bnc2014spoken-xml/spoken/untagged/S5JX.xml',
 'bnc2014spoken-xml/spoken/untagged/S5LP.xml',
 'bnc2014spoken-xml/spoken/untagged/S5MM.xml',
 'bnc2014spoken-xml/spoken/untagged/S5P8.xml',
 'bnc2014spoken-xml/spoken/untagged/S5PF.xml',
 'bnc2014spoken-xml/spoken/untagged/S5PW.xml',
 'bnc2014spoken-xml/spoken/untagged/S5QP.xml',
 'bnc2014spoken-xml/spoken/untagged/S5QR.xml',
 'bnc2014spoken-xml/spoken/untagged/S5RP.xml',
 'bnc2014spoken-xml/spoken/untagged/S5SC.xml',
 'bnc2014spoken-xml/spoken/untagged/S5SJ.xml',
 'bnc2014spoken-xml/spoken/untagged/S5TE.xml',
 'bnc2014spoken-xml/spoken/untagged/S5U8.xml',
 'bnc2014spoken-xml/spoken/untagged/S5UJ.xml',
 'bnc2014spoken-xml/spoken/untagged/S5XD.xml',
 'bnc2014spoken-xml/spoken/untagged/S5XL.xml',
 'bnc2014spoken-xml/spoken/untagged/S5YC.xml',
 'bnc2014spoken-xml/spoken/untagged/S5YY.xml',
 'bnc2014spoken-xml/spoken/untagged/S622.xml',
 'bnc2014spoken-xml/spoken/untagged/S632.xml',
 'bnc2014spoken-xml/spoken/untagged/S63K.xml',
 'bnc2014spoken-xml/spoken/untagged/S63L.xml',
 'bnc2014spoken-xml/spoken/untagged/S64H.xml',
 'bnc2014spoken-xml/spoken/untagged/S66A.xml',
 'bnc2014spoken-xml/spoken/untagged/S66E.xml',
 'bnc2014spoken-xml/spoken/untagged/S66F.xml',
 'bnc2014spoken-xml/spoken/untagged/S67P.xml',
 'bnc2014spoken-xml/spoken/untagged/S682.xml',
 'bnc2014spoken-xml/spoken/untagged/S68E.xml',
 'bnc2014spoken-xml/spoken/untagged/S68F.xml',
 'bnc2014spoken-xml/spoken/untagged/S69G.xml',
 'bnc2014spoken-xml/spoken/untagged/S69V.xml',
 'bnc2014spoken-xml/spoken/untagged/S6A5.xml',
 'bnc2014spoken-xml/spoken/untagged/S6A7.xml',
 'bnc2014spoken-xml/spoken/untagged/S6AK.xml',
 'bnc2014spoken-xml/spoken/untagged/S6AP.xml',
 'bnc2014spoken-xml/spoken/untagged/S6AZ.xml',
 'bnc2014spoken-xml/spoken/untagged/S6BR.xml',
 'bnc2014spoken-xml/spoken/untagged/S6BS.xml',
 'bnc2014spoken-xml/spoken/untagged/S6EH.xml',
 'bnc2014spoken-xml/spoken/untagged/S6EX.xml',
 'bnc2014spoken-xml/spoken/untagged/S6GC.xml',
 'bnc2014spoken-xml/spoken/untagged/S6H4.xml',
 'bnc2014spoken-xml/spoken/untagged/S6HP.xml',
 'bnc2014spoken-xml/spoken/untagged/S6J2.xml',
 'bnc2014spoken-xml/spoken/untagged/S6J8.xml',
 'bnc2014spoken-xml/spoken/untagged/S6JL.xml',
 'bnc2014spoken-xml/spoken/untagged/S6JP.xml',
 'bnc2014spoken-xml/spoken/untagged/S6KV.xml',
 'bnc2014spoken-xml/spoken/untagged/S6MQ.xml',
 'bnc2014spoken-xml/spoken/untagged/S6PD.xml',
 'bnc2014spoken-xml/spoken/untagged/S6Q6.xml',
 'bnc2014spoken-xml/spoken/untagged/S6QU.xml',
 'bnc2014spoken-xml/spoken/untagged/S6R4.xml',
 'bnc2014spoken-xml/spoken/untagged/S6SH.xml',
 'bnc2014spoken-xml/spoken/untagged/S6TR.xml',
 'bnc2014spoken-xml/spoken/untagged/S6UQ.xml',
 'bnc2014spoken-xml/spoken/untagged/S6W8.xml',
 'bnc2014spoken-xml/spoken/untagged/S6YA.xml',
 'bnc2014spoken-xml/spoken/untagged/S6ZU.xml',
 'bnc2014spoken-xml/spoken/untagged/S72E.xml',
 'bnc2014spoken-xml/spoken/untagged/S72Q.xml',
 'bnc2014spoken-xml/spoken/untagged/S73U.xml',
 'bnc2014spoken-xml/spoken/untagged/S74A.xml',
 'bnc2014spoken-xml/spoken/untagged/S75W.xml',
 'bnc2014spoken-xml/spoken/untagged/S776.xml',
 'bnc2014spoken-xml/spoken/untagged/S784.xml',
 'bnc2014spoken-xml/spoken/untagged/S78E.xml',
 'bnc2014spoken-xml/spoken/untagged/S78H.xml',
 'bnc2014spoken-xml/spoken/untagged/S78P.xml',
 'bnc2014spoken-xml/spoken/untagged/S79Y.xml',
 'bnc2014spoken-xml/spoken/untagged/S7A6.xml',
 'bnc2014spoken-xml/spoken/untagged/S7AR.xml',
 'bnc2014spoken-xml/spoken/untagged/S7BR.xml',
 'bnc2014spoken-xml/spoken/untagged/S7DR.xml',
 'bnc2014spoken-xml/spoken/untagged/S7DT.xml',
 'bnc2014spoken-xml/spoken/untagged/S7FK.xml',
 'bnc2014spoken-xml/spoken/untagged/S7FU.xml',
 'bnc2014spoken-xml/spoken/untagged/S7GJ.xml',
 'bnc2014spoken-xml/spoken/untagged/S7GW.xml',
 'bnc2014spoken-xml/spoken/untagged/S7HR.xml',
 'bnc2014spoken-xml/spoken/untagged/S7JF.xml',
 'bnc2014spoken-xml/spoken/untagged/S7JG.xml',
 'bnc2014spoken-xml/spoken/untagged/S7JH.xml',
 'bnc2014spoken-xml/spoken/untagged/S7JS.xml',
 'bnc2014spoken-xml/spoken/untagged/S7K2.xml',
 'bnc2014spoken-xml/spoken/untagged/S7KD.xml',
 'bnc2014spoken-xml/spoken/untagged/S7KK.xml',
 'bnc2014spoken-xml/spoken/untagged/S7LN.xml',
 'bnc2014spoken-xml/spoken/untagged/S7MF.xml',
 'bnc2014spoken-xml/spoken/untagged/S7MU.xml',
 'bnc2014spoken-xml/spoken/untagged/S7NH.xml',
 'bnc2014spoken-xml/spoken/untagged/S7NJ.xml',
 'bnc2014spoken-xml/spoken/untagged/S7NV.xml',
 'bnc2014spoken-xml/spoken/untagged/S7P2.xml',
 'bnc2014spoken-xml/spoken/untagged/S7PM.xml',
 'bnc2014spoken-xml/spoken/untagged/S7PU.xml',
 'bnc2014spoken-xml/spoken/untagged/S7QE.xml',
 'bnc2014spoken-xml/spoken/untagged/S7QU.xml',
 'bnc2014spoken-xml/spoken/untagged/S7QY.xml',
 'bnc2014spoken-xml/spoken/untagged/S7RA.xml',
 'bnc2014spoken-xml/spoken/untagged/S7RD.xml',
 'bnc2014spoken-xml/spoken/untagged/S7RM.xml',
 'bnc2014spoken-xml/spoken/untagged/S7RW.xml',
 'bnc2014spoken-xml/spoken/untagged/S7S2.xml',
 'bnc2014spoken-xml/spoken/untagged/S7S7.xml',
 'bnc2014spoken-xml/spoken/untagged/S7SU.xml',
 'bnc2014spoken-xml/spoken/untagged/S7SX.xml',
 'bnc2014spoken-xml/spoken/untagged/S7SZ.xml',
 'bnc2014spoken-xml/spoken/untagged/S7TT.xml',
 'bnc2014spoken-xml/spoken/untagged/S7UX.xml',
 'bnc2014spoken-xml/spoken/untagged/S7V3.xml',
 'bnc2014spoken-xml/spoken/untagged/S7VD.xml',
 'bnc2014spoken-xml/spoken/untagged/S7WR.xml',
 'bnc2014spoken-xml/spoken/untagged/S7WW.xml',
 'bnc2014spoken-xml/spoken/untagged/S7WY.xml',
 'bnc2014spoken-xml/spoken/untagged/S7Z8.xml',
 'bnc2014spoken-xml/spoken/untagged/S7ZF.xml',
 'bnc2014spoken-xml/spoken/untagged/S7ZG.xml',
 'bnc2014spoken-xml/spoken/untagged/S839.xml',
 'bnc2014spoken-xml/spoken/untagged/S83A.xml',
 'bnc2014spoken-xml/spoken/untagged/S84P.xml',
 'bnc2014spoken-xml/spoken/untagged/S85D.xml',
 'bnc2014spoken-xml/spoken/untagged/S86J.xml',
 'bnc2014spoken-xml/spoken/untagged/S87R.xml',
 'bnc2014spoken-xml/spoken/untagged/S88R.xml',
 'bnc2014spoken-xml/spoken/untagged/S8B9.xml',
 'bnc2014spoken-xml/spoken/untagged/S8BQ.xml',
 'bnc2014spoken-xml/spoken/untagged/S8CB.xml',
 'bnc2014spoken-xml/spoken/untagged/S8CV.xml',
 'bnc2014spoken-xml/spoken/untagged/S8CW.xml',
 'bnc2014spoken-xml/spoken/untagged/S8G6.xml',
 'bnc2014spoken-xml/spoken/untagged/S8GL.xml',
 'bnc2014spoken-xml/spoken/untagged/S8J6.xml',
 'bnc2014spoken-xml/spoken/untagged/S8JW.xml',
 'bnc2014spoken-xml/spoken/untagged/S8K6.xml',
 'bnc2014spoken-xml/spoken/untagged/S8K9.xml',
 'bnc2014spoken-xml/spoken/untagged/S8LG.xml',
 'bnc2014spoken-xml/spoken/untagged/S8LS.xml',
 'bnc2014spoken-xml/spoken/untagged/S8NX.xml',
 'bnc2014spoken-xml/spoken/untagged/S8PT.xml',
 'bnc2014spoken-xml/spoken/untagged/S8PW.xml',
 'bnc2014spoken-xml/spoken/untagged/S8Q3.xml',
 'bnc2014spoken-xml/spoken/untagged/S8Q6.xml',
 'bnc2014spoken-xml/spoken/untagged/S8RC.xml',
 'bnc2014spoken-xml/spoken/untagged/S8RU.xml',
 'bnc2014spoken-xml/spoken/untagged/S8RY.xml',
 'bnc2014spoken-xml/spoken/untagged/S8S2.xml',
 'bnc2014spoken-xml/spoken/untagged/S8SH.xml',
 'bnc2014spoken-xml/spoken/untagged/S8TN.xml',
 'bnc2014spoken-xml/spoken/untagged/S8U5.xml',
 'bnc2014spoken-xml/spoken/untagged/S8VZ.xml',
 'bnc2014spoken-xml/spoken/untagged/S8W2.xml',
 'bnc2014spoken-xml/spoken/untagged/S8WS.xml',
 'bnc2014spoken-xml/spoken/untagged/S8X7.xml',
 'bnc2014spoken-xml/spoken/untagged/S8XE.xml',
 'bnc2014spoken-xml/spoken/untagged/S8YL.xml',
 'bnc2014spoken-xml/spoken/untagged/S92V.xml',
 'bnc2014spoken-xml/spoken/untagged/S94U.xml',
 'bnc2014spoken-xml/spoken/untagged/S94Z.xml',
 'bnc2014spoken-xml/spoken/untagged/S954.xml',
 'bnc2014spoken-xml/spoken/untagged/S95D.xml',
 'bnc2014spoken-xml/spoken/untagged/S968.xml',
 'bnc2014spoken-xml/spoken/untagged/S96L.xml',
 'bnc2014spoken-xml/spoken/untagged/S97B.xml',
 'bnc2014spoken-xml/spoken/untagged/S97Z.xml',
 'bnc2014spoken-xml/spoken/untagged/S985.xml',
 'bnc2014spoken-xml/spoken/untagged/S99N.xml',
 'bnc2014spoken-xml/spoken/untagged/S99Z.xml',
 'bnc2014spoken-xml/spoken/untagged/S9B9.xml',
 'bnc2014spoken-xml/spoken/untagged/S9CH.xml',
 'bnc2014spoken-xml/spoken/untagged/S9CR.xml',
 'bnc2014spoken-xml/spoken/untagged/S9D7.xml',
 'bnc2014spoken-xml/spoken/untagged/S9DE.xml',
 'bnc2014spoken-xml/spoken/untagged/S9E6.xml',
 'bnc2014spoken-xml/spoken/untagged/S9EP.xml',
 'bnc2014spoken-xml/spoken/untagged/S9ER.xml',
 'bnc2014spoken-xml/spoken/untagged/S9F7.xml',
 'bnc2014spoken-xml/spoken/untagged/S9F9.xml',
 'bnc2014spoken-xml/spoken/untagged/S9G2.xml',
 'bnc2014spoken-xml/spoken/untagged/S9GP.xml',
 'bnc2014spoken-xml/spoken/untagged/S9HC.xml',
 'bnc2014spoken-xml/spoken/untagged/S9KS.xml',
 'bnc2014spoken-xml/spoken/untagged/S9MK.xml',
 'bnc2014spoken-xml/spoken/untagged/S9N4.xml',
 'bnc2014spoken-xml/spoken/untagged/S9P6.xml',
 'bnc2014spoken-xml/spoken/untagged/S9RV.xml',
 'bnc2014spoken-xml/spoken/untagged/S9S8.xml',
 'bnc2014spoken-xml/spoken/untagged/S9UA.xml',
 'bnc2014spoken-xml/spoken/untagged/S9VA.xml',
 'bnc2014spoken-xml/spoken/untagged/S9VB.xml',
 'bnc2014spoken-xml/spoken/untagged/S9WB.xml',
 'bnc2014spoken-xml/spoken/untagged/S9WP.xml',
 'bnc2014spoken-xml/spoken/untagged/S9WZ.xml',
 'bnc2014spoken-xml/spoken/untagged/S9X9.xml',
 'bnc2014spoken-xml/spoken/untagged/S9YC.xml',
 'bnc2014spoken-xml/spoken/untagged/S9YG.xml',
 'bnc2014spoken-xml/spoken/untagged/S9ZL.xml',
 'bnc2014spoken-xml/spoken/untagged/S9ZP.xml',
 'bnc2014spoken-xml/spoken/untagged/S9ZU.xml',
 'bnc2014spoken-xml/spoken/untagged/SA2B.xml',
 'bnc2014spoken-xml/spoken/untagged/SA2J.xml',
 'bnc2014spoken-xml/spoken/untagged/SA4W.xml',
 'bnc2014spoken-xml/spoken/untagged/SA69.xml',
 'bnc2014spoken-xml/spoken/untagged/SA6K.xml',
 'bnc2014spoken-xml/spoken/untagged/SA6W.xml',
 'bnc2014spoken-xml/spoken/untagged/SA7J.xml',
 'bnc2014spoken-xml/spoken/untagged/SA88.xml',
 'bnc2014spoken-xml/spoken/untagged/SA9P.xml',
 'bnc2014spoken-xml/spoken/untagged/SA9T.xml',
 'bnc2014spoken-xml/spoken/untagged/SA9U.xml',
 'bnc2014spoken-xml/spoken/untagged/SAA3.xml',
 'bnc2014spoken-xml/spoken/untagged/SAAB.xml',
 'bnc2014spoken-xml/spoken/untagged/SAAF.xml',
 'bnc2014spoken-xml/spoken/untagged/SAB7.xml',
 'bnc2014spoken-xml/spoken/untagged/SABT.xml',
 'bnc2014spoken-xml/spoken/untagged/SACQ.xml',
 'bnc2014spoken-xml/spoken/untagged/SADE.xml',
 'bnc2014spoken-xml/spoken/untagged/SAF8.xml',
 'bnc2014spoken-xml/spoken/untagged/SAFZ.xml',
 'bnc2014spoken-xml/spoken/untagged/SAG4.xml',
 'bnc2014spoken-xml/spoken/untagged/SAHB.xml',
 'bnc2014spoken-xml/spoken/untagged/SAMQ.xml',
 'bnc2014spoken-xml/spoken/untagged/SAQD.xml',
 'bnc2014spoken-xml/spoken/untagged/SAR5.xml',
 'bnc2014spoken-xml/spoken/untagged/SASC.xml',
 'bnc2014spoken-xml/spoken/untagged/SASQ.xml',
 'bnc2014spoken-xml/spoken/untagged/SASU.xml',
 'bnc2014spoken-xml/spoken/untagged/SAT9.xml',
 'bnc2014spoken-xml/spoken/untagged/SAUJ.xml',
 'bnc2014spoken-xml/spoken/untagged/SAUR.xml',
 'bnc2014spoken-xml/spoken/untagged/SAVH.xml',
 'bnc2014spoken-xml/spoken/untagged/SAVN.xml',
 'bnc2014spoken-xml/spoken/untagged/SAVW.xml',
 'bnc2014spoken-xml/spoken/untagged/SAXQ.xml',
 'bnc2014spoken-xml/spoken/untagged/SAZ8.xml',
 'bnc2014spoken-xml/spoken/untagged/SAZX.xml',
 'bnc2014spoken-xml/spoken/untagged/SAZY.xml',
 'bnc2014spoken-xml/spoken/untagged/SB2H.xml',
 'bnc2014spoken-xml/spoken/untagged/SB32.xml',
 'bnc2014spoken-xml/spoken/untagged/SB49.xml',
 'bnc2014spoken-xml/spoken/untagged/SB4D.xml',
 'bnc2014spoken-xml/spoken/untagged/SB5E.xml',
 'bnc2014spoken-xml/spoken/untagged/SB6S.xml',
 'bnc2014spoken-xml/spoken/untagged/SB7R.xml',
 'bnc2014spoken-xml/spoken/untagged/SB9K.xml',
 'bnc2014spoken-xml/spoken/untagged/SBA6.xml',
 'bnc2014spoken-xml/spoken/untagged/SBB2.xml',
 'bnc2014spoken-xml/spoken/untagged/SBBC.xml',
 'bnc2014spoken-xml/spoken/untagged/SBBP.xml',
 'bnc2014spoken-xml/spoken/untagged/SBCL.xml',
 'bnc2014spoken-xml/spoken/untagged/SBCZ.xml',
 'bnc2014spoken-xml/spoken/untagged/SBDD.xml',
 'bnc2014spoken-xml/spoken/untagged/SBEV.xml',
 'bnc2014spoken-xml/spoken/untagged/SBFN.xml',
 'bnc2014spoken-xml/spoken/untagged/SBFR.xml',
 'bnc2014spoken-xml/spoken/untagged/SBG4.xml',
 'bnc2014spoken-xml/spoken/untagged/SBJM.xml',
 'bnc2014spoken-xml/spoken/untagged/SBKH.xml',
 'bnc2014spoken-xml/spoken/untagged/SBKM.xml',
 'bnc2014spoken-xml/spoken/untagged/SBKN.xml',
 'bnc2014spoken-xml/spoken/untagged/SBM6.xml',
 'bnc2014spoken-xml/spoken/untagged/SBNC.xml',
 'bnc2014spoken-xml/spoken/untagged/SBNU.xml',
 'bnc2014spoken-xml/spoken/untagged/SBPW.xml',
 'bnc2014spoken-xml/spoken/untagged/SBQ6.xml',
 'bnc2014spoken-xml/spoken/untagged/SBQZ.xml',

In [142]:
dialogue_data = []
for path in f_paths: # for each of the dialogues
    print(path)
    df_utts = pd.read_xml(path, xpath="//u")
    df_speakers = pd.read_xml(path, xpath="//speaker")
    dialogue_data.append((df_utts, df_speakers))
    # break
print(list(df_speakers))
df_speakers

bnc2014spoken-xml/spoken/untagged/S23A.xml
bnc2014spoken-xml/spoken/untagged/S24A.xml
bnc2014spoken-xml/spoken/untagged/S24D.xml
bnc2014spoken-xml/spoken/untagged/S24E.xml
bnc2014spoken-xml/spoken/untagged/S263.xml
bnc2014spoken-xml/spoken/untagged/S26N.xml
bnc2014spoken-xml/spoken/untagged/S27D.xml
bnc2014spoken-xml/spoken/untagged/S28F.xml
bnc2014spoken-xml/spoken/untagged/S29Q.xml
bnc2014spoken-xml/spoken/untagged/S29X.xml
bnc2014spoken-xml/spoken/untagged/S2A5.xml
bnc2014spoken-xml/spoken/untagged/S2AJ.xml
bnc2014spoken-xml/spoken/untagged/S2AX.xml
bnc2014spoken-xml/spoken/untagged/S2B5.xml
bnc2014spoken-xml/spoken/untagged/S2C9.xml
bnc2014spoken-xml/spoken/untagged/S2CY.xml
bnc2014spoken-xml/spoken/untagged/S2DD.xml
bnc2014spoken-xml/spoken/untagged/S2E2.xml
bnc2014spoken-xml/spoken/untagged/S2EF.xml
bnc2014spoken-xml/spoken/untagged/S2FQ.xml
bnc2014spoken-xml/spoken/untagged/S2FT.xml
bnc2014spoken-xml/spoken/untagged/S2GC.xml
bnc2014spoken-xml/spoken/untagged/S2GS.xml
bnc2014spoken-xml/spoken/untagged/S2JK.xml
bnc2014spoken-xml/spoken/untagged/S2JV.xml
bnc2014spoken-xml/spoken/untagged/S2K6.xml
bnc2014spoken-xml/spoken/untagged/S2K7.xml
bnc2014spoken-xml/spoken/untagged/S2KP.xml
bnc2014spoken-xml/spoken/untagged/S2LC.xml
bnc2014spoken-xml/spoken/untagged/S2LD.xml
bnc2014spoken-xml/spoken/untagged/S2NQ.xml
bnc2014spoken-xml/spoken/untagged/S2PS.xml
bnc2014spoken-xml/spoken/untagged/S2PY.xml
bnc2014spoken-xml/spoken/untagged/S2QU.xml
bnc2014spoken-xml/spoken/untagged/S2RD.xml
bnc2014spoken-xml/spoken/untagged/S2T6.xml
bnc2014spoken-xml/spoken/untagged/S2TC.xml
bnc2014spoken-xml/spoken/untagged/S2TP.xml
bnc2014spoken-xml/spoken/untagged/S2U9.xml
bnc2014spoken-xml/spoken/untagged/S2UJ.xml
bnc2014spoken-xml/spoken/untagged/S2UT.xml
bnc2014spoken-xml/spoken/untagged/S2W4.xml
bnc2014spoken-xml/spoken/untagged/S2XJ.xml
bnc2014spoken-xml/spoken/untagged/S2XV.xml
bnc2014spoken-xml/spoken/untagged/S2Y5.xml
bnc2014spoken-xml/spoken/untagged/S2YK.xml
bnc2014spoken-xml/spoken/untagged/S2ZU.xml
bnc2014spoken-xml/spoken/untagged/S323.xml
bnc2014spoken-xml/spoken/untagged/S32W.xml
bnc2014spoken-xml/spoken/untagged/S32Y.xml
bnc2014spoken-xml/spoken/untagged/S33B.xml
bnc2014spoken-xml/spoken/untagged/S33N.xml
bnc2014spoken-xml/spoken/untagged/S346.xml
bnc2014spoken-xml/spoken/untagged/S355.xml
bnc2014spoken-xml/spoken/untagged/S35K.xml
bnc2014spoken-xml/spoken/untagged/S35U.xml
bnc2014spoken-xml/spoken/untagged/S36Z.xml
bnc2014spoken-xml/spoken/untagged/S376.xml
bnc2014spoken-xml/spoken/untagged/S37E.xml
bnc2014spoken-xml/spoken/untagged/S37F.xml
bnc2014spoken-xml/spoken/untagged/S37K.xml
bnc2014spoken-xml/spoken/untagged/S37Y.xml
bnc2014spoken-xml/spoken/untagged/S382.xml
bnc2014spoken-xml/spoken/untagged/S38F.xml
bnc2014spoken-xml/spoken/untagged/S38P.xml
bnc2014spoken-xml/spoken/untagged/S38V.xml
bnc2014spoken-xml/spoken/untagged/S39D.xml
bnc2014spoken-xml/spoken/untagged/S3A9.xml
bnc2014spoken-xml/spoken/untagged/S3AC.xml
bnc2014spoken-xml/spoken/untagged/S3AV.xml
bnc2014spoken-xml/spoken/untagged/S3C6.xml
bnc2014spoken-xml/spoken/untagged/S3CK.xml
bnc2014spoken-xml/spoken/untagged/S3CP.xml
bnc2014spoken-xml/spoken/untagged/S3DA.xml
bnc2014spoken-xml/spoken/untagged/S3GS.xml
bnc2014spoken-xml/spoken/untagged/S3JF.xml
bnc2014spoken-xml/spoken/untagged/S3KY.xml
bnc2014spoken-xml/spoken/untagged/S3LE.xml
bnc2014spoken-xml/spoken/untagged/S3M4.xml
bnc2014spoken-xml/spoken/untagged/S3M9.xml
bnc2014spoken-xml/spoken/untagged/S3MW.xml
bnc2014spoken-xml/spoken/untagged/S3N4.xml
bnc2014spoken-xml/spoken/untagged/S3QD.xml
bnc2014spoken-xml/spoken/untagged/S3RL.xml
bnc2014spoken-xml/spoken/untagged/S3RN.xml
bnc2014spoken-xml/spoken/untagged/S3RZ.xml
bnc2014spoken-xml/spoken/untagged/S3S6.xml
bnc2014spoken-xml/spoken/untagged/S3SA.xml
bnc2014spoken-xml/spoken/untagged/S3SU.xml
bnc2014spoken-xml/spoken/untagged/S3TD.xml
bnc2014spoken-xml/spoken/untagged/S3TZ.xml
bnc2014spoken-xml/spoken/untagged/S3U3.xml
bnc2014spoken-xml/spoken/untagged/S3UC.xml
bnc2014spoken-xml/spoken/untagged/S3VM.xml
bnc2014spoken-xml/spoken/untagged/S3XC.xml
bnc2014spoken-xml/spoken/untagged/S3YZ.xml
bnc2014spoken-xml/spoken/untagged/S432.xml
bnc2014spoken-xml/spoken/untagged/S43M.xml
bnc2014spoken-xml/spoken/untagged/S43S.xml
bnc2014spoken-xml/spoken/untagged/S452.xml
bnc2014spoken-xml/spoken/untagged/S457.xml
bnc2014spoken-xml/spoken/untagged/S45F.xml
bnc2014spoken-xml/spoken/untagged/S46J.xml
bnc2014spoken-xml/spoken/untagged/S46Q.xml
bnc2014spoken-xml/spoken/untagged/S477.xml
bnc2014spoken-xml/spoken/untagged/S47C.xml
bnc2014spoken-xml/spoken/untagged/S48K.xml
bnc2014spoken-xml/spoken/untagged/S49H.xml
bnc2014spoken-xml/spoken/untagged/S49V.xml
bnc2014spoken-xml/spoken/untagged/S4BA.xml
bnc2014spoken-xml/spoken/untagged/S4C2.xml
bnc2014spoken-xml/spoken/untagged/S4CU.xml
bnc2014spoken-xml/spoken/untagged/S4D8.xml
bnc2014spoken-xml/spoken/untagged/S4HW.xml
bnc2014spoken-xml/spoken/untagged/S4JC.xml
bnc2014spoken-xml/spoken/untagged/S4K7.xml
bnc2014spoken-xml/spoken/untagged/S4KE.xml
bnc2014spoken-xml/spoken/untagged/S4KW.xml
bnc2014spoken-xml/spoken/untagged/S4L9.xml
bnc2014spoken-xml/spoken/untagged/S4MF.xml
bnc2014spoken-xml/spoken/untagged/S4MV.xml
bnc2014spoken-xml/spoken/untagged/S4NB.xml
bnc2014spoken-xml/spoken/untagged/S4PC.xml
bnc2014spoken-xml/spoken/untagged/S4PF.xml
bnc2014spoken-xml/spoken/untagged/S4QF.xml
bnc2014spoken-xml/spoken/untagged/S4QK.xml
bnc2014spoken-xml/spoken/untagged/S4RF.xml
bnc2014spoken-xml/spoken/untagged/S4S5.xml
bnc2014spoken-xml/spoken/untagged/S4T3.xml
bnc2014spoken-xml/spoken/untagged/S4TV.xml
bnc2014spoken-xml/spoken/untagged/S4VJ.xml
bnc2014spoken-xml/spoken/untagged/S4W8.xml
bnc2014spoken-xml/spoken/untagged/S4WJ.xml
bnc2014spoken-xml/spoken/untagged/S4XR.xml
bnc2014spoken-xml/spoken/untagged/S4YQ.xml
bnc2014spoken-xml/spoken/untagged/S4ZA.xml
bnc2014spoken-xml/spoken/untagged/S4ZT.xml
bnc2014spoken-xml/spoken/untagged/S527.xml
bnc2014spoken-xml/spoken/untagged/S52C.xml
bnc2014spoken-xml/spoken/untagged/S539.xml
bnc2014spoken-xml/spoken/untagged/S555.xml
bnc2014spoken-xml/spoken/untagged/S55B.xml
bnc2014spoken-xml/spoken/untagged/S55M.xml
bnc2014spoken-xml/spoken/untagged/S56S.xml
bnc2014spoken-xml/spoken/untagged/S575.xml
bnc2014spoken-xml/spoken/untagged/S57G.xml
bnc2014spoken-xml/spoken/untagged/S57J.xml
bnc2014spoken-xml/spoken/untagged/S59R.xml
bnc2014spoken-xml/spoken/untagged/S59W.xml
bnc2014spoken-xml/spoken/untagged/S5AA.xml
bnc2014spoken-xml/spoken/untagged/S5B4.xml
bnc2014spoken-xml/spoken/untagged/S5B6.xml
bnc2014spoken-xml/spoken/untagged/S5DJ.xml
bnc2014spoken-xml/spoken/untagged/S5EM.xml
bnc2014spoken-xml/spoken/untagged/S5ER.xml
bnc2014spoken-xml/spoken/untagged/S5HH.xml
bnc2014spoken-xml/spoken/untagged/S5HT.xml
bnc2014spoken-xml/spoken/untagged/S5J8.xml
bnc2014spoken-xml/spoken/untagged/S5JX.xml
bnc2014spoken-xml/spoken/untagged/S5LP.xml
bnc2014spoken-xml/spoken/untagged/S5MM.xml
bnc2014spoken-xml/spoken/untagged/S5P8.xml
bnc2014spoken-xml/spoken/untagged/S5PF.xml
bnc2014spoken-xml/spoken/untagged/S5PW.xml
bnc2014spoken-xml/spoken/untagged/S5QP.xml
bnc2014spoken-xml/spoken/untagged/S5QR.xml
bnc2014spoken-xml/spoken/untagged/S5RP.xml
bnc2014spoken-xml/spoken/untagged/S5SC.xml
bnc2014spoken-xml/spoken/untagged/S5SJ.xml
bnc2014spoken-xml/spoken/untagged/S5TE.xml
bnc2014spoken-xml/spoken/untagged/S5U8.xml
bnc2014spoken-xml/spoken/untagged/S5UJ.xml
bnc2014spoken-xml/spoken/untagged/S5XD.xml
bnc2014spoken-xml/spoken/untagged/S5XL.xml
bnc2014spoken-xml/spoken/untagged/S5YC.xml
bnc2014spoken-xml/spoken/untagged/S5YY.xml
bnc2014spoken-xml/spoken/untagged/S622.xml
bnc2014spoken-xml/spoken/untagged/S632.xml
bnc2014spoken-xml/spoken/untagged/S63K.xml
bnc2014spoken-xml/spoken/untagged/S63L.xml
bnc2014spoken-xml/spoken/untagged/S64H.xml
bnc2014spoken-xml/spoken/untagged/S66A.xml
bnc2014spoken-xml/spoken/untagged/S66E.xml
bnc2014spoken-xml/spoken/untagged/S66F.xml
bnc2014spoken-xml/spoken/untagged/S67P.xml
bnc2014spoken-xml/spoken/untagged/S682.xml
bnc2014spoken-xml/spoken/untagged/S68E.xml
bnc2014spoken-xml/spoken/untagged/S68F.xml
bnc2014spoken-xml/spoken/untagged/S69G.xml
bnc2014spoken-xml/spoken/untagged/S69V.xml
bnc2014spoken-xml/spoken/untagged/S6A5.xml
bnc2014spoken-xml/spoken/untagged/S6A7.xml
bnc2014spoken-xml/spoken/untagged/S6AK.xml
bnc2014spoken-xml/spoken/untagged/S6AP.xml
bnc2014spoken-xml/spoken/untagged/S6AZ.xml
bnc2014spoken-xml/spoken/untagged/S6BR.xml
bnc2014spoken-xml/spoken/untagged/S6BS.xml
bnc2014spoken-xml/spoken/untagged/S6EH.xml
bnc2014spoken-xml/spoken/untagged/S6EX.xml
bnc2014spoken-xml/spoken/untagged/S6GC.xml
bnc2014spoken-xml/spoken/untagged/S6H4.xml
bnc2014spoken-xml/spoken/untagged/S6HP.xml
bnc2014spoken-xml/spoken/untagged/S6J2.xml
bnc2014spoken-xml/spoken/untagged/S6J8.xml
bnc2014spoken-xml/spoken/untagged/S6JL.xml
bnc2014spoken-xml/spoken/untagged/S6JP.xml
bnc2014spoken-xml/spoken/untagged/S6KV.xml
bnc2014spoken-xml/spoken/untagged/S6MQ.xml
bnc2014spoken-xml/spoken/untagged/S6PD.xml
bnc2014spoken-xml/spoken/untagged/S6Q6.xml
bnc2014spoken-xml/spoken/untagged/S6QU.xml
bnc2014spoken-xml/spoken/untagged/S6R4.xml
bnc2014spoken-xml/spoken/untagged/S6SH.xml
bnc2014spoken-xml/spoken/untagged/S6TR.xml
bnc2014spoken-xml/spoken/untagged/S6UQ.xml
bnc2014spoken-xml/spoken/untagged/S6W8.xml
bnc2014spoken-xml/spoken/untagged/S6YA.xml
bnc2014spoken-xml/spoken/untagged/S6ZU.xml
bnc2014spoken-xml/spoken/untagged/S72E.xml
bnc2014spoken-xml/spoken/untagged/S72Q.xml
bnc2014spoken-xml/spoken/untagged/S73U.xml
bnc2014spoken-xml/spoken/untagged/S74A.xml
bnc2014spoken-xml/spoken/untagged/S75W.xml
bnc2014spoken-xml/spoken/untagged/S776.xml
bnc2014spoken-xml/spoken/untagged/S784.xml
bnc2014spoken-xml/spoken/untagged/S78E.xml
bnc2014spoken-xml/spoken/untagged/S78H.xml
bnc2014spoken-xml/spoken/untagged/S78P.xml
bnc2014spoken-xml/spoken/untagged/S79Y.xml
bnc2014spoken-xml/spoken/untagged/S7A6.xml
bnc2014spoken-xml/spoken/untagged/S7AR.xml
bnc2014spoken-xml/spoken/untagged/S7BR.xml
bnc2014spoken-xml/spoken/untagged/S7DR.xml
bnc2014spoken-xml/spoken/untagged/S7DT.xml
bnc2014spoken-xml/spoken/untagged/S7FK.xml
bnc2014spoken-xml/spoken/untagged/S7FU.xml
bnc2014spoken-xml/spoken/untagged/S7GJ.xml
bnc2014spoken-xml/spoken/untagged/S7GW.xml
bnc2014spoken-xml/spoken/untagged/S7HR.xml
bnc2014spoken-xml/spoken/untagged/S7JF.xml
bnc2014spoken-xml/spoken/untagged/S7JG.xml
bnc2014spoken-xml/spoken/untagged/S7JH.xml
bnc2014spoken-xml/spoken/untagged/S7JS.xml
bnc2014spoken-xml/spoken/untagged/S7K2.xml
bnc2014spoken-xml/spoken/untagged/S7KD.xml
bnc2014spoken-xml/spoken/untagged/S7KK.xml
bnc2014spoken-xml/spoken/untagged/S7LN.xml
bnc2014spoken-xml/spoken/untagged/S7MF.xml
bnc2014spoken-xml/spoken/untagged/S7MU.xml
bnc2014spoken-xml/spoken/untagged/S7NH.xml
bnc2014spoken-xml/spoken/untagged/S7NJ.xml
bnc2014spoken-xml/spoken/untagged/S7NV.xml
bnc2014spoken-xml/spoken/untagged/S7P2.xml
bnc2014spoken-xml/spoken/untagged/S7PM.xml
bnc2014spoken-xml/spoken/untagged/S7PU.xml
bnc2014spoken-xml/spoken/untagged/S7QE.xml
bnc2014spoken-xml/spoken/untagged/S7QU.xml
bnc2014spoken-xml/spoken/untagged/S7QY.xml
bnc2014spoken-xml/spoken/untagged/S7RA.xml
bnc2014spoken-xml/spoken/untagged/S7RD.xml
bnc2014spoken-xml/spoken/untagged/S7RM.xml
bnc2014spoken-xml/spoken/untagged/S7RW.xml
bnc2014spoken-xml/spoken/untagged/S7S2.xml
bnc2014spoken-xml/spoken/untagged/S7S7.xml
bnc2014spoken-xml/spoken/untagged/S7SU.xml
bnc2014spoken-xml/spoken/untagged/S7SX.xml
bnc2014spoken-xml/spoken/untagged/S7SZ.xml
bnc2014spoken-xml/spoken/untagged/S7TT.xml
bnc2014spoken-xml/spoken/untagged/S7UX.xml
bnc2014spoken-xml/spoken/untagged/S7V3.xml
bnc2014spoken-xml/spoken/untagged/S7VD.xml
bnc2014spoken-xml/spoken/untagged/S7WR.xml
bnc2014spoken-xml/spoken/untagged/S7WW.xml
bnc2014spoken-xml/spoken/untagged/S7WY.xml
bnc2014spoken-xml/spoken/untagged/S7Z8.xml
bnc2014spoken-xml/spoken/untagged/S7ZF.xml
bnc2014spoken-xml/spoken/untagged/S7ZG.xml
bnc2014spoken-xml/spoken/untagged/S839.xml
bnc2014spoken-xml/spoken/untagged/S83A.xml
bnc2014spoken-xml/spoken/untagged/S84P.xml
bnc2014spoken-xml/spoken/untagged/S85D.xml
bnc2014spoken-xml/spoken/untagged/S86J.xml
bnc2014spoken-xml/spoken/untagged/S87R.xml
bnc2014spoken-xml/spoken/untagged/S88R.xml
bnc2014spoken-xml/spoken/untagged/S8B9.xml
bnc2014spoken-xml/spoken/untagged/S8BQ.xml
bnc2014spoken-xml/spoken/untagged/S8CB.xml
bnc2014spoken-xml/spoken/untagged/S8CV.xml
bnc2014spoken-xml/spoken/untagged/S8CW.xml
bnc2014spoken-xml/spoken/untagged/S8G6.xml
bnc2014spoken-xml/spoken/untagged/S8GL.xml
bnc2014spoken-xml/spoken/untagged/S8J6.xml
bnc2014spoken-xml/spoken/untagged/S8JW.xml
bnc2014spoken-xml/spoken/untagged/S8K6.xml
bnc2014spoken-xml/spoken/untagged/S8K9.xml
bnc2014spoken-xml/spoken/untagged/S8LG.xml
bnc2014spoken-xml/spoken/untagged/S8LS.xml
bnc2014spoken-xml/spoken/untagged/S8NX.xml
bnc2014spoken-xml/spoken/untagged/S8PT.xml
bnc2014spoken-xml/spoken/untagged/S8PW.xml
bnc2014spoken-xml/spoken/untagged/S8Q3.xml
bnc2014spoken-xml/spoken/untagged/S8Q6.xml
bnc2014spoken-xml/spoken/untagged/S8RC.xml
bnc2014spoken-xml/spoken/untagged/S8RU.xml
bnc2014spoken-xml/spoken/untagged/S8RY.xml
bnc2014spoken-xml/spoken/untagged/S8S2.xml
bnc2014spoken-xml/spoken/untagged/S8SH.xml
bnc2014spoken-xml/spoken/untagged/S8TN.xml
bnc2014spoken-xml/spoken/untagged/S8U5.xml
bnc2014spoken-xml/spoken/untagged/S8VZ.xml
bnc2014spoken-xml/spoken/untagged/S8W2.xml
bnc2014spoken-xml/spoken/untagged/S8WS.xml
bnc2014spoken-xml/spoken/untagged/S8X7.xml
bnc2014spoken-xml/spoken/untagged/S8XE.xml
bnc2014spoken-xml/spoken/untagged/S8YL.xml
bnc2014spoken-xml/spoken/untagged/S92V.xml
bnc2014spoken-xml/spoken/untagged/S94U.xml
bnc2014spoken-xml/spoken/untagged/S94Z.xml
bnc2014spoken-xml/spoken/untagged/S954.xml
bnc2014spoken-xml/spoken/untagged/S95D.xml
bnc2014spoken-xml/spoken/untagged/S968.xml
bnc2014spoken-xml/spoken/untagged/S96L.xml
bnc2014spoken-xml/spoken/untagged/S97B.xml
bnc2014spoken-xml/spoken/untagged/S97Z.xml
bnc2014spoken-xml/spoken/untagged/S985.xml
bnc2014spoken-xml/spoken/untagged/S99N.xml
bnc2014spoken-xml/spoken/untagged/S99Z.xml
bnc2014spoken-xml/spoken/untagged/S9B9.xml
bnc2014spoken-xml/spoken/untagged/S9CH.xml
bnc2014spoken-xml/spoken/untagged/S9CR.xml
bnc2014spoken-xml/spoken/untagged/S9D7.xml
bnc2014spoken-xml/spoken/untagged/S9DE.xml
bnc2014spoken-xml/spoken/untagged/S9E6.xml
bnc2014spoken-xml/spoken/untagged/S9EP.xml
bnc2014spoken-xml/spoken/untagged/S9ER.xml
bnc2014spoken-xml/spoken/untagged/S9F7.xml
bnc2014spoken-xml/spoken/untagged/S9F9.xml
bnc2014spoken-xml/spoken/untagged/S9G2.xml
bnc2014spoken-xml/spoken/untagged/S9GP.xml
bnc2014spoken-xml/spoken/untagged/S9HC.xml
bnc2014spoken-xml/spoken/untagged/S9KS.xml
bnc2014spoken-xml/spoken/untagged/S9MK.xml
bnc2014spoken-xml/spoken/untagged/S9N4.xml
bnc2014spoken-xml/spoken/untagged/S9P6.xml
bnc2014spoken-xml/spoken/untagged/S9RV.xml
bnc2014spoken-xml/spoken/untagged/S9S8.xml
bnc2014spoken-xml/spoken/untagged/S9UA.xml
bnc2014spoken-xml/spoken/untagged/S9VA.xml
bnc2014spoken-xml/spoken/untagged/S9VB.xml
bnc2014spoken-xml/spoken/untagged/S9WB.xml
bnc2014spoken-xml/spoken/untagged/S9WP.xml
bnc2014spoken-xml/spoken/untagged/S9WZ.xml
bnc2014spoken-xml/spoken/untagged/S9X9.xml
bnc2014spoken-xml/spoken/untagged/S9YC.xml
bnc2014spoken-xml/spoken/untagged/S9YG.xml
bnc2014spoken-xml/spoken/untagged/S9ZL.xml
bnc2014spoken-xml/spoken/untagged/S9ZP.xml
bnc2014spoken-xml/spoken/untagged/S9ZU.xml
bnc2014spoken-xml/spoken/untagged/SA2B.xml
bnc2014spoken-xml/spoken/untagged/SA2J.xml
bnc2014spoken-xml/spoken/untagged/SA4W.xml
bnc2014spoken-xml/spoken/untagged/SA69.xml
bnc2014spoken-xml/spoken/untagged/SA6K.xml
bnc2014spoken-xml/spoken/untagged/SA6W.xml
bnc2014spoken-xml/spoken/untagged/SA7J.xml
bnc2014spoken-xml/spoken/untagged/SA88.xml
bnc2014spoken-xml/spoken/untagged/SA9P.xml
bnc2014spoken-xml/spoken/untagged/SA9T.xml
bnc2014spoken-xml/spoken/untagged/SA9U.xml
bnc2014spoken-xml/spoken/untagged/SAA3.xml
bnc2014spoken-xml/spoken/untagged/SAAB.xml
bnc2014spoken-xml/spoken/untagged/SAAF.xml
bnc2014spoken-xml/spoken/untagged/SAB7.xml
bnc2014spoken-xml/spoken/untagged/SABT.xml
bnc2014spoken-xml/spoken/untagged/SACQ.xml
bnc2014spoken-xml/spoken/untagged/SADE.xml
bnc2014spoken-xml/spoken/untagged/SAF8.xml
bnc2014spoken-xml/spoken/untagged/SAFZ.xml
bnc2014spoken-xml/spoken/untagged/SAG4.xml
bnc2014spoken-xml/spoken/untagged/SAHB.xml
bnc2014spoken-xml/spoken/untagged/SAMQ.xml
bnc2014spoken-xml/spoken/untagged/SAQD.xml
bnc2014spoken-xml/spoken/untagged/SAR5.xml
bnc2014spoken-xml/spoken/untagged/SASC.xml
bnc2014spoken-xml/spoken/untagged/SASQ.xml
bnc2014spoken-xml/spoken/untagged/SASU.xml
bnc2014spoken-xml/spoken/untagged/SAT9.xml
bnc2014spoken-xml/spoken/untagged/SAUJ.xml
bnc2014spoken-xml/spoken/untagged/SAUR.xml
bnc2014spoken-xml/spoken/untagged/SAVH.xml
bnc2014spoken-xml/spoken/untagged/SAVN.xml
bnc2014spoken-xml/spoken/untagged/SAVW.xml
bnc2014spoken-xml/spoken/untagged/SAXQ.xml
bnc2014spoken-xml/spoken/untagged/SAZ8.xml
bnc2014spoken-xml/spoken/untagged/SAZX.xml
bnc2014spoken-xml/spoken/untagged/SAZY.xml
bnc2014spoken-xml/spoken/untagged/SB2H.xml
bnc2014spoken-xml/spoken/untagged/SB32.xml
bnc2014spoken-xml/spoken/untagged/SB49.xml
bnc2014spoken-xml/spoken/untagged/SB4D.xml
bnc2014spoken-xml/spoken/untagged/SB5E.xml
bnc2014spoken-xml/spoken/untagged/SB6S.xml
bnc2014spoken-xml/spoken/untagged/SB7R.xml
bnc2014spoken-xml/spoken/untagged/SB9K.xml
bnc2014spoken-xml/spoken/untagged/SBA6.xml
bnc2014spoken-xml/spoken/untagged/SBB2.xml
bnc2014spoken-xml/spoken/untagged/SBBC.xml
bnc2014spoken-xml/spoken/untagged/SBBP.xml
bnc2014spoken-xml/spoken/untagged/SBCL.xml
bnc2014spoken-xml/spoken/untagged/SBCZ.xml
bnc2014spoken-xml/spoken/untagged/SBDD.xml
bnc2014spoken-xml/spoken/untagged/SBEV.xml
bnc2014spoken-xml/spoken/untagged/SBFN.xml
bnc2014spoken-xml/spoken/untagged/SBFR.xml
bnc2014spoken-xml/spoken/untagged/SBG4.xml
bnc2014spoken-xml/spoken/untagged/SBJM.xml
bnc2014spoken-xml/spoken/untagged/SBKH.xml
bnc2014spoken-xml/spoken/untagged/SBKM.xml
bnc2014spoken-xml/spoken/untagged/SBKN.xml
bnc2014spoken-xml/spoken/untagged/SBM6.xml
bnc2014spoken-xml/spoken/untagged/SBNC.xml
bnc2014spoken-xml/spoken/untagged/SBNU.xml
bnc2014spoken-xml/spoken/untagged/SBPW.xml
bnc2014spoken-xml/spoken/untagged/SBQ6.xml
bnc2014spoken-xml/spoken/untagged/SBQZ.xml
bnc2014spoken-xml/spoken/untagged/SBS5.xml
bnc2014spoken-xml/spoken/untagged/SBSJ.xml
bnc2014spoken-xml/spoken/untagged/SBTC.xml
bnc2014spoken-xml/spoken/untagged/SBUN.xml
bnc2014spoken-xml/spoken/untagged/SBVQ.xml
bnc2014spoken-xml/spoken/untagged/SBX7.xml
bnc2014spoken-xml/spoken/untagged/SBXK.xml
bnc2014spoken-xml/spoken/untagged/SBYC.xml
bnc2014spoken-xml/spoken/untagged/SBYQ.xml
bnc2014spoken-xml/spoken/untagged/SBZ7.xml
bnc2014spoken-xml/spoken/untagged/SBZW.xml
bnc2014spoken-xml/spoken/untagged/SC2T.xml
bnc2014spoken-xml/spoken/untagged/SC3M.xml
bnc2014spoken-xml/spoken/untagged/SC4J.xml
bnc2014spoken-xml/spoken/untagged/SC67.xml
bnc2014spoken-xml/spoken/untagged/SC6N.xml
bnc2014spoken-xml/spoken/untagged/SC7H.xml
bnc2014spoken-xml/spoken/untagged/SC8H.xml
bnc2014spoken-xml/spoken/untagged/SCA5.xml
bnc2014spoken-xml/spoken/untagged/SCEL.xml
bnc2014spoken-xml/spoken/untagged/SCG7.xml
bnc2014spoken-xml/spoken/untagged/SCG9.xml
bnc2014spoken-xml/spoken/untagged/SCJL.xml
bnc2014spoken-xml/spoken/untagged/SCKW.xml
bnc2014spoken-xml/spoken/untagged/SCMZ.xml
bnc2014spoken-xml/spoken/untagged/SCNN.xml
bnc2014spoken-xml/spoken/untagged/SCP7.xml
bnc2014spoken-xml/spoken/untagged/SCPC.xml
bnc2014spoken-xml/spoken/untagged/SCPR.xml
bnc2014spoken-xml/spoken/untagged/SCQC.xml
bnc2014spoken-xml/spoken/untagged/SCQF.xml
bnc2014spoken-xml/spoken/untagged/SCQS.xml
bnc2014spoken-xml/spoken/untagged/SCQW.xml
bnc2014spoken-xml/spoken/untagged/SCRM.xml
bnc2014spoken-xml/spoken/untagged/SCS9.xml
bnc2014spoken-xml/spoken/untagged/SCSF.xml
bnc2014spoken-xml/spoken/untagged/SCUS.xml
bnc2014spoken-xml/spoken/untagged/SCVK.xml
bnc2014spoken-xml/spoken/untagged/SCWC.xml
bnc2014spoken-xml/spoken/untagged/SCWJ.xml

,id,exactage,age1994,agerange,gender,nat,birthplace,birthcountry,l1,lingorig,...,dialect_l2,dialect_l3,dialect_l4,edqual,occupation,socgrade,nssec,l2,fls,in_core
0,S0428,27,25_34,19_29,F,British,"Aylesbury, Buckinghamshire",England,English,England,...,england,south,eastern_engl,5_postgrad,Language Research Co-ordinator,A,1_2,NaN,Spanish -- level unspecified; Italian -- level...,y
1,S0432,23,15_24,19_29,F,White British,Lincoln,England,English,England,...,england,unspecified,unspecified,4_graduate,Language Research Administrator,A,1_2,NaN,Spanish -- level unspecified; Chinese -- level...,n

In [143]:
dialogue_data

[(         n    who                                               u
  0        1  S0094                                           words  \
  1        2  S0095  it's a games word? like a computer games word?
  2        3  S0032                                       yeah yeah
  3        4  S0095                                              oh
  4        5  S0032                              I it's something I
  ...    ...    ...                                             ...
  4036  4037  S0021                                            yeah
  4037  4038  S0095                          my plate is on my head
  4038  4039  S0021                                            None
  4039  4040  S0094                                            None
  4040  4041  S0095                                            None

                  unclear    trans whoConfidence  vocal foreign  anon  pause
  0                  None     None          None    NaN    None   NaN    NaN  \
  1                  None     None          None    NaN    None   NaN    NaN
  2                  None     None          None    NaN    None   NaN    NaN
  3        oh that's nice     None          None    NaN    None   NaN    NaN
  4     have really heard  overlap          None    NaN    None   NaN    NaN
  ...                 ...      ...           ...    ...     ...   ...    ...
  4036               None     None          None    NaN    None   NaN    NaN
  4037               None     None          None    NaN    None   NaN    NaN
  4038               None     None          None    NaN    None   NaN    NaN
  4039               None     None          None    NaN    None   NaN    NaN
  4040               None     None          None    NaN    None   NaN    NaN

       trunc  shift
  0     None    NaN
  1     None    NaN
  2     None    NaN
  3     None    NaN
  4     None    NaN
  ...    ...    ...
  4036  None    NaN
  4037  None    NaN
  4038  None    NaN
  4039  None    NaN
  4040  None    NaN

  [4041 rows x 12 columns],
        id  exactage age1994 agerange gender      nat birthplace birthcountry
  0  S0021        27   25_34    19_29      F  British    Swindon      England  \
  1  S0032        28   25_34    19_29      M  British     Yoevil      England
  2  S0094        33   25_34    30_39      F  British    Swindon      England
  3  S0095        33   25_34    30_39      M  British  Camarthen     Scotland

          l1 lingorig  ... dialect_l2 dialect_l3 dialect_l4      edqual
  0  English  England  ...    england      south  southwest  5_postgrad  \
  1  English  England  ...    england      south  southwest  4_graduate
  2  English  England  ...    england      south  southwest  5_postgrad
  3  English  England  ...      wales      wales      wales  5_postgrad

              occupation socgrade  nssec      l2                fls in_core
  0              Teacher        B      2    None               None       y
  1   Software developer        A    1_2    None               None       y
  2          PhD student        A    1_2  German  Welsh -- Beginner       y
  3  Self employed maker        E  uncat    None               None       y

  [4 rows x 25 columns]),
 (       n    who                                                  u unclear
  0      1  S0261  so it's getting good sounds I'm going to turn ...    None  \
  1      2  S0262                                                 mm    None
  2      3  S0261  and you know when you see some of his pictures...   laser
  3      4  S0262                                                 mm    None
  4      5  S0261  and outfit that she works with him for but erm...    None
  ..   ...    ...                                                ...     ...
  122  123  S0261                    yeah that's just a modified fan    None
  123  124  S0262                                     a fan that was    None
  124  125  S0261  attached a piece of string on it and projected...    None
  125  126  S0262                                               yeah    None
  126  127  S0261                                                wow    None

       pause  vocal trunc  anon    trans
  0      NaN    NaN  None   NaN     None
  1      NaN    NaN  None   NaN     None
  2      NaN    NaN  None   NaN     None
  3      NaN    NaN  None   NaN     None
  4      NaN    NaN  None   NaN     None
  ..     ...    ...   ...   ...      ...
  122    NaN    NaN  None   NaN     None
  123    NaN    NaN  None   NaN  overlap
  124    NaN    NaN  None   NaN     None
  125    NaN    NaN  None   NaN     None
  126    NaN    NaN  None   NaN     None

  [127 rows x 9 columns],
        id  exactage age1994 agerange gender                  nat  birthplace
  0  S0261        41   35_44    40_49      M  British/New Zealand  Wellington  \
  1  S0262        41   35_44    40_49      F              British  Dorchester

    birthcountry       l1    lingorig  ... dialect_l2  dialect_l3   dialect_l4
  0  New Zealand  English  England/NZ  ...     non_uk      non_uk       non_uk  \
  1      England  English     England  ...    england       south  unspecified

         edqual    occupation socgrade nssec  l2
  0  4_graduate  Entrepreneur        A   1_2 NaN  \
  1  5_postgrad       teacher        B     2 NaN

                                                   fls in_core
  0                                               None       n
  1  French -- level unspecified; German -- level u...       y

  [2 rows x 25 columns]),
 (       n    who                             u    trans  shift  anon  pause
  0      1  S0655                            oh     None    NaN   NaN    NaN  \
  1      2  S0653  can you do the water please?  overlap    NaN   NaN    NaN
  2      3  S0654                          None  overlap    NaN   NaN    NaN
  3      4  S0655           is that your pizza?  overlap    NaN   NaN    NaN
  4      5  S0653         yeah can you do them?     None    NaN   NaN    NaN
  ..   ...    ...                           ...      ...    ...   ...    ...
  450  451  S0654                         sorry     None    NaN   NaN    NaN
  451  452  S0655                          None  overlap    NaN   NaN    NaN
  452  453  S0653                          None     None    NaN   NaN    NaN
  453  454  S0655                          None     None    NaN   NaN    NaN
  454  455  S0654                          None  overlap    NaN   NaN    NaN

      unclear  vocal trunc whoConfidence
  0      None    NaN  None          None
  1      None    NaN  None          None
  2      None    NaN  None          None
  3      None    NaN  None          None
  4      None    NaN  None          None
  ..      ...    ...   ...           ...
  450    None    NaN  None          None
  451    None    NaN  None          None
  452    None    NaN  None          None
  453    None    NaN  None          None
  454    None    NaN  None          None

  [455 rows x 11 columns],
        id  exactage age1994 agerange gender      nat       birthplace
  0  S0653        39   35_44    30_39      F  British   Dartford, Kent  \
  1  S0654         7    0_14     0_10      F  British          Norwich
  2  S0655         9    0_14     0_10      M  British  Bury St Edmunds

    birthcountry       l1 lingorig  ... dialect_l2 dialect_l3   dialect_l4
  0      England  English  England  ...    england      south  unspecified  \
  1      England  English       UK  ...    england      south  unspecified
  2      England  English       UK  ...    england      south  unspecified

         edqual occupation socgrade  nssec  l2                           fls
  0  5_postgrad    Teacher        B      2 NaN                          None  \
  1   1_primary        NaN        E  uncat NaN  Spanish -- level unspecified
  2   1_primary        NaN        E  uncat NaN  Spanish -- level unspecified

    in_core
  0       y
  1       y
  2       y

  [3 rows x 25 columns]),
 (       n    who                                                  u trunc
  0      1  S0520                                the idea is to meet    tr  \
  1      2  S0519                                 that's he just not  None
  2      3  S0520                  which case it makes it harder for  None
  3      4  S0519                                  no no it's no fun  None
  4      5  S0520                                                and  None
  ..   ...    ...                                                ...   ...
  704  705  S0520               yeah exactly exactly good on you mum  None
  705  706  S0519  so I've gone for the arms akimbo thing and som...  None
  706  707  S0520  it's not working maybe I just need to restart ...  None
  707  708  S0519  so what you do I think well you could do turn ...  None
  708  709  S0520                                                 mm  None

       anon  pause    trans  unclear  vocal whoConfidence foreign
  0     NaN    NaN     None      NaN    NaN          None    None
  1     NaN    NaN  overlap      NaN    NaN          None    None
  2     NaN    NaN     None      NaN    NaN          None    None
  3     NaN    NaN  overlap      NaN    NaN          None    None
  4     NaN    NaN     None      NaN    NaN          None    None
  ..    ...    ...      ...      ...    ...           ...     ...
  704   NaN    NaN  overlap      NaN    NaN          None    None
  705   NaN    NaN     None      NaN    NaN          None    None
  706   NaN    NaN     None      NaN    NaN          None    None
  707   NaN    NaN     None      NaN    NaN          None    None
  708   NaN    NaN     None      NaN    NaN          None    None

  [709 rows x 11 columns],
        id  exactage age1994 agerange gender      nat       birthplace
  0  S0519        59   45_59    50_59      F    Irish  Dublin, Ireland  \
  1  S0520        32   25_34    30_39      F  British  Birkenhead, UK`
  2  S0521        59   45_59    50_59      M  British      Walsall, UK

    birthcountry       l1 lingorig  ...   dialect_l2   dialect_l3   dialect_l4
  0      Ireland  English  England  ...  unspecified  unspecified  unspecified  \
  1           UK  English  England  ...      england  unspecified  unspecified
  2      England  English  England  ...      england     midlands  unspecified

         edqual                                         occupation socgrade
  0  4_graduate                     Recently retired maths teacher        E  \
  1  4_graduate                                Transcriber, Editor       C1
  2  5_postgrad  Former role as technical esport of development...        E

    nssec  l2 fls in_core
  0     8 NaN NaN       n
  1     3 NaN NaN       n
  2     8 NaN NaN       y

  [3 rows x 25 columns]),
 (         n    who                                                  u    trans
  0        1  S0588          I'm drinking a lovely wine it's white and     None  \
  1        2  S0590                              which one what is it?  overlap
  2        3  S0588                                     it's come from  overlap
  3        4  S0590                                                 ah     None
  4        5  S0588                  yeah well I don't know what it is     None
  ...    ...    ...                                                ...      ...
  3155  3156  S0589                  mm she tries to make friends with     None
  3156  3157  S0588                                             no she     None
  3157  3158  S0590                                                 mm     None
  3158  3159  S0616                                               None     None
  3159  3160  S0590  we saw the sweetest little scene as we were go...     None

        anon  vocal foreign trunc  pause unclear  shift
  0      NaN    NaN    None  None    NaN    None    NaN
  1      NaN    NaN    None  None    NaN    None    NaN
  2      NaN    NaN    None  None    NaN    None    NaN
  3      NaN    NaN    None  None    NaN    None    NaN
  4      NaN    NaN    None  None    NaN    None    NaN
  ...    ...    ...     ...   ...    ...     ...    ...
  3155   NaN    NaN    None  None    NaN    None    NaN
  3156   NaN    NaN    None    ki    NaN    None    NaN
  3157   NaN    NaN    None  None    NaN    None    NaN
  3158   NaN    NaN    None  None    NaN    None    NaN
  3159   NaN    NaN    None     t    NaN    None    NaN

  [3160 rows x 11 columns],
        id  exactage age1994 agerange gender      nat birthplace birthcountry
  0  S0588        49   45_59    40_49      F  British    England      England  \
  1  S0589        40   35_44    40_49      M  British  Edinburgh      Britain
  2  S0590        74  60plus    70_79      F  British   Scotland      British
  3  S0616        54   45_59    50_59      M  British    Cardiff        Wales

          l1          lingorig  ...   dialect_l2   dialect_l3   dialect_l4
  0  English           England  ...      england  unspecified  unspecified  \
  1  English           England  ...      england  unspecified  unspecified
  2  English          Scotland  ...      england  unspecified  unspecified
  3  English  Wales (possibly)  ...  unspecified  unspecified  unspecified

          edqual                          occupation socgrade  nssec  l2 fls
  0   4_graduate                          Trascriber        D      6 NaN NaN  \
  1   4_graduate                       Administrator        E  uncat NaN NaN
  2   5_postgrad                        Headmistress        A    1_2 NaN NaN
  3  2_secondary  Self-employed production carpenter       C1      4 NaN NaN

    in_core
  0       n
  1       y
  2       y
  3       y

  [4 rows x 25 columns]),
 (       n       who                                                  u  vocal
  0      1     S0152  if you're not prepared to do any work in here ...    NaN  \
  1      2     S0012                                           oh right    NaN
  2      3     S0152  and and he went no I can't stay to any of them...    NaN
  3      4     S0013                                                 mm    NaN
  4      5     S0152                                                and    NaN
  ..   ...       ...                                                ...    ...
  921  922     S0012                well that's all we had today innit?    NaN
  922  923     S0013                                                 mm    NaN
  923  924     S0012        it's all we had that ain't processed that's    NaN
  924  925  UNKMULTI                                               None    NaN
  925  926     S0152                                               None    NaN

       anon trans unclear whoConfidence  pause trunc
  0     NaN  None    None          None    NaN  None
  1     NaN  None    None          None    NaN  None
  2     NaN  None    None          None    NaN  None
  3     NaN  None    None          None    NaN  None
  4     NaN  None    None          None    NaN  None
  ..    ...   ...     ...           ...    ...   ...
  921   NaN  None    None          None    NaN  None
  922   NaN  None    None          None    NaN  None
  923   NaN  None    None          None    NaN  None
  924   NaN  None    None           low    NaN  None
  925   NaN  None    None          None    NaN  None

  [926 rows x 10 columns],
        id  exactage age1994 agerange gender      nat          birthplace
  0  S0012        70  60plus    70_79      M  British  Costessey, Norfolk  \
  1  S0013        63  60plus    60_69      F  British   Harrow, Middlesex
  2  S0152        52   45_59    50_59      M  British          Birmingham

    birthcountry       l1 lingorig  ... dialect_l2 dialect_l3    dialect_l4
  0      England  English  England  ...    england      south  eastern_engl  \
  1      England  English  England  ...    england      south   unspecified
  2      England  English  England  ...    england   midlands    w_midlands

          edqual             occupation socgrade nssec  l2 fls in_core
  0  2_secondary                Retired        E     8 NaN NaN       n
  1  3_sixthform  Childminder (retired)        E     8 NaN NaN       y
  2   5_postgrad                Teacher        B     2 NaN NaN       y

  [3 rows x 25 columns]),
 (       n    who                                             u  pause trunc
  0      1  S0144                    right so what did you say?    NaN  None  \
  1      2  S0024                     well I sent I sent a text    NaN    se
  2      3  S0144                                          yeah    NaN  None
  3      4  S0024                          sending all our love    NaN  None
  4      5  S0144                                           mhm    NaN  None
  ..   ...    ...                                           ...    ...   ...
  797  798  S0144                                          yeah    NaN  None
  798  799  S0024                                          yeah    NaN  None
  799  800  S0144  can I have a pint of er John Smith's please?    NaN  None
  800  801  S0024                                          yeah    NaN  None
  801  802  S0144                            I'll turn that off    NaN  None

       anon  vocal  unclear
  0     NaN    NaN      NaN
  1     NaN    NaN      NaN
  2     NaN    NaN      NaN
  3     NaN    NaN      NaN
  4     NaN    NaN      NaN
  ..    ...    ...      ...
  797   NaN    NaN      NaN
  798   NaN    NaN      NaN
  799   NaN    NaN      NaN
  800   NaN    NaN      NaN
  801   NaN    NaN      NaN

  [802 rows x 8 columns],
        id  exactage age1994 agerange gender      nat birthplace birthcountry
  0  S0024        36   35_44    30_39      F  British    Norwich      England  \
  1  S0144        36   35_44    30_39      M  British     London      England

          l1 lingorig  ... dialect_l2 dialect_l3   dialect_l4      edqual
  0  English  England  ...    england      south  unspecified  5_postgrad  \
  1  English  England  ...    england      south  unspecified  5_postgrad

    occupation socgrade nssec  l2 fls in_core
  0   lecturer        A   1_2 NaN NaN       n
  1   Lecturer        A   1_2 NaN NaN       y

  [2 rows x 25 columns]),
 (         n    who                                        u  pause trunc
  0        1  S0255                      okay so you want me    NaN     t  \
  1        2  S0315                                     None    NaN  None
  2        3  S0255                                 oh it is    NaN  None
  3        4  S0315                            is that okay?    NaN  None
  4        5  S0255                                     yeah    NaN  None
  ...    ...    ...                                      ...    ...   ...
  2771  2772  S0255   exactly yeah I'll look forward to that    NaN  None
  2772  2773  S0315                                       so    NaN  None
  2773  2774  S0255                                    right    NaN  None
  2774  2775  S0315  so have you turned your thingy off now?    NaN  None
  2775  2776  S0255                                yeah just    NaN  None

       unclear trans  vocal  anon whoConfidence
  0       None  None    NaN   NaN          None
  1       None  None    NaN   NaN          None
  2       None  None    NaN   NaN          None
  3       None  None    NaN   NaN          None
  4       None  None    NaN   NaN          None
  ...      ...   ...    ...   ...           ...
  2771    None  None    NaN   NaN          None
  2772    None  None    NaN   NaN          None
  2773    None  None    NaN   NaN          None
  2774    None  None    NaN   NaN          None
  2775    None  None    NaN   NaN          None

  [2776 rows x 10 columns],
        id  exactage age1994 agerange gender      nat     birthplace
  0  S0255        48   45_59    40_49      F  British  Boston, Lincs  \
  1  S0315        36   35_44    30_39      F  British      Newmarket

    birthcountry       l1 lingorig  ...   dialect_l2   dialect_l3   dialect_l4
  0      England  English  England  ...  unspecified  unspecified  unspecified  \
  1      England  English  England  ...  unspecified  unspecified  unspecified


In [144]:
# Concatenate all speakers dataframes into one
df_all_speakers = pd.concat([speaker_data[1] for speaker_data in dialogue_data])
df_all_speakers

,id,exactage,age1994,agerange,gender,nat,birthplace,birthcountry,l1,lingorig,...,dialect_l2,dialect_l3,dialect_l4,edqual,occupation,socgrade,nssec,l2,fls,in_core
0,S0021,27,25_34,19_29,F,British,Swindon,England,English,England,...,england,south,southwest,5_postgrad,Teacher,B,2,None,None,y
1,S0032,28,25_34,19_29,M,British,Yoevil,England,English,England,...,england,south,southwest,4_graduate,Software developer,A,1_2,None,None,y
2,S0094,33,25_34,30_39,F,British,Swindon,England,English,England,...,england,south,southwest,5_postgrad,PhD student,A,1_2,German,Welsh -- Beginner,y
3,S0095,33,25_34,30_39,M,British,Camarthen,Scotland,English,England,...,wales,wales,wales,5_postgrad,Self employed maker,E,uncat,None,None,y
0,S0261,41,35_44,40_49,M,British/New Zealand,Wellington,New Zealand,English,England/NZ,...,non_uk,non_uk,non_uk,4_graduate,Entrepreneur,A,1_2,NaN,None,n
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,S0510,47,45_59,40_49,F,British,England,England,English,England,...,england,south,unspecified,5_postgrad,Receptionist,D,6,NaN,NaN,y
0,S0058,23,15_24,19_29,F,British,"Sunderland, Tyne and Wear",England,English,England,...,england,north,northeast,4_graduate,Corpus Administrator,B,2,NaN,None,n
1,S0120,23,15_24,19_29,M,British & German,"Pembury, Kent",England,English,England,...,england,south,unspecified,5_postgrad,Graduate Civil Engineer,C1,4,NaN,German -- Advanced; French -- Advanced,n
0,S0428,27,25_34,19_29,F,British,"Aylesbury, Buckinghamshire",England,English,England,...,england,south,eastern_engl,5_postgrad,Language Research Co-ordinator,A,1_2,NaN,Spanish -- level unspecified; Italian -- level...,y
1,S0432,23,15_24,19_29,F,White British,Lincoln,England,English,England,...,england,unspecified,unspecified,4_graduate,Language Research Administrator,A,1_2,NaN,Spanish -- level unspecified; Chinese -- level...,n

In [145]:
# Concatenate all utterances dataframes into one
df_all_utts = pd.concat([utt_data[0] for utt_data in dialogue_data])
df_all_utts

,n,who,u,unclear,trans,whoConfidence,vocal,foreign,anon,pause,trunc,shift,event
0,1,S0094,words,None,None,None,NaN,None,NaN,NaN,None,NaN,NaN
1,2,S0095,it's a games word? like a computer games word?,None,None,None,NaN,None,NaN,NaN,None,NaN,NaN
2,3,S0032,yeah yeah,None,None,None,NaN,None,NaN,NaN,None,NaN,NaN
3,4,S0095,oh,oh that's nice,None,None,NaN,None,NaN,NaN,None,NaN,NaN
4,5,S0032,I it's something I,have really heard,overlap,None,NaN,None,NaN,NaN,None,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
315,316,S0432,but,Mai Li,None,None,NaN,NaN,NaN,NaN,None,NaN,NaN
316,317,S0428,None,Sha Li,None,None,NaN,NaN,NaN,NaN,None,NaN,NaN
317,318,S0432,I'll just stick with it yeah,None,overlap,None,NaN,NaN,NaN,NaN,let,NaN,NaN
318,319,S0428,None,None,overlap,None,NaN,NaN,NaN,NaN,None,NaN,NaN
319,320,S0432,mm,None,overlap,None,NaN,NaN,NaN,NaN,None,NaN,NaN

In [147]:
# display exactage and agerange of each speaker
df1 = df_all_speakers[['id', 'exactage', 'agerange', 'gender']]
print(df1)

       id exactage agerange gender
0   S0021       27    19_29      F
1   S0032       28    19_29      M
2   S0094       33    30_39      F
3   S0095       33    30_39      M
0   S0261       41    40_49      M
..    ...      ...      ...    ...
1   S0510       47    40_49      F
0   S0058       23    19_29      F
1   S0120       23    19_29      M
0   S0428       27    19_29      F
1   S0432       23    19_29      F

[3593 rows x 4 columns]

In [141]:
print(list(df_utts))
df_utts

['n', 'who', 'u', 'vocal', 'trans', 'pause', 'trunc', 'anon', 'whoConfidence', 'unclear']

,n,who,u,vocal,trans,pause,trunc,anon,whoConfidence,unclear
0,1,S0432,I didn't really know what to say there because...,NaN,None,NaN,None,NaN,None,None
1,2,S0428,no I didn't,NaN,overlap,NaN,None,NaN,None,None
2,3,S0432,mm,NaN,overlap,NaN,None,NaN,None,None
3,4,S0428,thing,NaN,None,NaN,None,NaN,None,None
4,5,S0432,yeah and like kind of,NaN,None,NaN,main,NaN,None,None
...,...,...,...,...,...,...,...,...,...,...
315,316,S0432,but,NaN,None,NaN,None,NaN,None,Mai Li
316,317,S0428,None,NaN,None,NaN,None,NaN,None,Sha Li
317,318,S0432,I'll just stick with it yeah,NaN,overlap,NaN,let,NaN,None,None
318,319,S0428,None,NaN,overlap,NaN,None,NaN,None,None
319,320,S0432,mm,NaN,overlap,NaN,None,NaN,None,None

In [61]:
# get the speaker id and the utterance of S0024
df_utts[df_utts['who'] == 'S0024']

,n,who,u,pause,vocal,anon,unclear,trans,trunc,event
0,1,S0024,an hour later,NaN,NaN,NaN,None,None,None,NaN
2,3,S0024,yeah I know but that's why we're an hour late ...,NaN,NaN,NaN,None,None,None,NaN
4,5,S0024,did you text,NaN,NaN,NaN,None,None,None,NaN
6,7,S0024,oh,NaN,NaN,NaN,None,None,None,NaN
8,9,S0024,some people get jet lag,NaN,NaN,NaN,longer,None,None,NaN
...,...,...,...,...,...,...,...,...,...,...
224,225,S0024,she's asleep,NaN,NaN,NaN,None,None,None,NaN
226,227,S0024,None,NaN,NaN,NaN,I'll have to take her,overlap,None,NaN
228,229,S0024,yeah,NaN,NaN,NaN,None,None,None,NaN
230,231,S0024,means the potatoes are ready,NaN,NaN,NaN,None,None,None,NaN
232,233,S0024,well,NaN,NaN,NaN,take her,overlap,None,NaN

In [38]:
# get the speaker id and the utterance of S0024 and check if column u contains the utterance 'hope she stays down'
df_utts[(df_utts['who'] == 'S0024') & (df_utts['u'].str.contains(''))]

,n,who,u,pause,vocal,anon,unclear,trans,trunc,event,u_len
0,1,S0024,an hour later,NaN,NaN,NaN,None,None,None,NaN,13.0
2,3,S0024,yeah I know but that's why we're an hour late ...,NaN,NaN,NaN,None,None,None,NaN,55.0
4,5,S0024,did you text,NaN,NaN,NaN,None,None,None,NaN,12.0
6,7,S0024,oh,NaN,NaN,NaN,None,None,None,NaN,2.0
8,9,S0024,some people get jet lag,NaN,NaN,NaN,longer,None,None,NaN,23.0
...,...,...,...,...,...,...,...,...,...,...,...
222,223,S0024,cocktail is a cocktail party but you drink it ...,NaN,NaN,NaN,None,overlap,None,NaN,87.0
224,225,S0024,she's asleep,NaN,NaN,NaN,None,None,None,NaN,12.0
228,229,S0024,yeah,NaN,NaN,NaN,None,None,None,NaN,4.0
230,231,S0024,means the potatoes are ready,NaN,NaN,NaN,None,None,None,NaN,28.0
232,233,S0024,well,NaN,NaN,NaN,take her,overlap,None,NaN,4.0

In [44]:
# get the total u utterances for S0024
# df_utts[df_utts['who'] == 'S0024'].shape[0]
print(df_utts['u'].str.len())
# create a new column called 'u_len' and get the length of each utterance
df_utts['u_len'] = df_utts['u'].str.len()
df_utts

0      13.0
1      36.0
2      55.0
3       NaN
4      12.0
       ...
228     4.0
229    20.0
230    28.0
231     NaN
232     4.0
Name: u, Length: 233, dtype: float64

,n,who,u,pause,vocal,anon,unclear,trans,trunc,event,u_len
0,1,S0024,an hour later,NaN,NaN,NaN,None,None,None,NaN,13.0
1,2,S0144,well she had those two hours earlier,NaN,NaN,NaN,None,None,None,NaN,36.0
2,3,S0024,yeah I know but that's why we're an hour late ...,NaN,NaN,NaN,None,None,None,NaN,55.0
3,4,S0144,None,NaN,NaN,NaN,None,None,None,NaN,NaN
4,5,S0024,did you text,NaN,NaN,NaN,None,None,None,NaN,12.0
...,...,...,...,...,...,...,...,...,...,...,...
228,229,S0024,yeah,NaN,NaN,NaN,None,None,None,NaN,4.0
229,230,S0144,what does that mean?,NaN,NaN,NaN,None,None,None,NaN,20.0
230,231,S0024,means the potatoes are ready,NaN,NaN,NaN,None,None,None,NaN,28.0
231,232,S0144,None,NaN,NaN,NaN,None,None,None,NaN,NaN
232,233,S0024,well,NaN,NaN,NaN,take her,overlap,None,NaN,4.0

In [103]:
# create a new column called 'u_len' and get the count of total utterances for each speaker
# df_utts['u_len'] = df_utts['u'].str.len()
# df_utts.groupby('who').count()

# count all u utterances for eavh speaker
num = df_utts.groupby('who').count()['u']
num

who
S0024    105
S0144     90
Name: u, dtype: int64

In [43]:
# get the speaker id and the utterance of S0024 and check if column u is empty string
df_utts[(df_utts['who'] == 'S0024') & (df_utts['u'] == '')]

Empty DataFrame
Columns: [n, who, u, pause, vocal, anon, unclear, trans, trunc, event, u_len]
Index: []

In [52]:
# df_utts.groupby('who')['u_len'].sum()

# get the average length of utterance for each speaker
df_utts.groupby('who')['u_len'].mean()

who
S0024    27.085714
S0144    21.988889
Name: u_len, dtype: float64

In [62]:
# create a new column called 'u_len' and get the count of total utterances for each speaker
df_utts['u_len'] = df_utts['u'].str.len()
# create a new column called 'u_len_per_speaker' and get the count of total for each speaker
df_utts['avg_u_len_per_speaker'] = df_utts.groupby('who')['u_len'].transform('mean')

In [150]:
# create a new column called 'u_len' and get the count of total utterances for each speaker
df_all_utts['u_len'] = df_all_utts['u'].str.len()
# create a new column called 'u_len_per_speaker' and get the count of total for each speaker
df_all_utts['avg_u_len_per_speaker'] = df_all_utts.groupby('who')['u_len'].transform('mean')

In [63]:
df_utts

,n,who,u,pause,vocal,anon,unclear,trans,trunc,event,u_len,avg_u_len_per_speaker
0,1,S0024,an hour later,NaN,NaN,NaN,None,None,None,NaN,13.0,27.085714
1,2,S0144,well she had those two hours earlier,NaN,NaN,NaN,None,None,None,NaN,36.0,21.988889
2,3,S0024,yeah I know but that's why we're an hour late ...,NaN,NaN,NaN,None,None,None,NaN,55.0,27.085714
3,4,S0144,None,NaN,NaN,NaN,None,None,None,NaN,NaN,21.988889
4,5,S0024,did you text,NaN,NaN,NaN,None,None,None,NaN,12.0,27.085714
...,...,...,...,...,...,...,...,...,...,...,...,...
228,229,S0024,yeah,NaN,NaN,NaN,None,None,None,NaN,4.0,27.085714
229,230,S0144,what does that mean?,NaN,NaN,NaN,None,None,None,NaN,20.0,21.988889
230,231,S0024,means the potatoes are ready,NaN,NaN,NaN,None,None,None,NaN,28.0,27.085714
231,232,S0144,None,NaN,NaN,NaN,None,None,None,NaN,NaN,21.988889
232,233,S0024,well,NaN,NaN,NaN,take her,overlap,None,NaN,4.0,27.085714

In [79]:
df_speakers.columns

Index(['id', 'exactage', 'age1994', 'agerange', 'gender', 'nat', 'birthplace',
       'birthcountry', 'l1', 'lingorig', 'dialect_rep', 'hab_city',
       'hab_country', 'hab_dur', 'dialect_l1', 'dialect_l2', 'dialect_l3',
       'dialect_l4', 'edqual', 'occupation', 'socgrade', 'nssec', 'l2', 'fls',
       'in_core'],
      dtype='object')

In [86]:
# display exactage and agerange of each speaker
df1 = df_speakers[['id', 'exactage', 'agerange','gender']]
df1

      id  exactage agerange gender
0  S0024        36    30_39      F
1  S0144        36    30_39      M

In [89]:
df_utts.columns

Index(['n', 'who', 'u', 'pause', 'vocal', 'anon', 'unclear', 'trans', 'trunc',
       'event', 'u_len', 'avg_u_len_per_speaker'],
      dtype='object')

In [134]:
df_counts = df_utts.groupby('who').agg({'u': 'count', 'avg_u_len_per_speaker': 'first'})
df_counts.columns = ['total_utterances', 'avg_u_len_per_speaker']
df_counts = df_counts.reset_index()
print(df_counts)

     who  total_utterances  avg_u_len_per_speaker
0  S0024               105              27.085714
1  S0144                90              21.988889

In [148]:
df_all_utts

,n,who,u,unclear,trans,whoConfidence,vocal,foreign,anon,pause,trunc,shift,event
0,1,S0094,words,None,None,None,NaN,None,NaN,NaN,None,NaN,NaN
1,2,S0095,it's a games word? like a computer games word?,None,None,None,NaN,None,NaN,NaN,None,NaN,NaN
2,3,S0032,yeah yeah,None,None,None,NaN,None,NaN,NaN,None,NaN,NaN
3,4,S0095,oh,oh that's nice,None,None,NaN,None,NaN,NaN,None,NaN,NaN
4,5,S0032,I it's something I,have really heard,overlap,None,NaN,None,NaN,NaN,None,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
315,316,S0432,but,Mai Li,None,None,NaN,NaN,NaN,NaN,None,NaN,NaN
316,317,S0428,None,Sha Li,None,None,NaN,NaN,NaN,NaN,None,NaN,NaN
317,318,S0432,I'll just stick with it yeah,None,overlap,None,NaN,NaN,NaN,NaN,let,NaN,NaN
318,319,S0428,None,None,overlap,None,NaN,NaN,NaN,NaN,None,NaN,NaN
319,320,S0432,mm,None,overlap,None,NaN,NaN,NaN,NaN,None,NaN,NaN

In [151]:
df_counts = df_all_utts.groupby('who').agg({'u': 'count', 'avg_u_len_per_speaker': 'first'})
df_counts.columns = ['total_utterances', 'avg_u_len_per_speaker']
df_counts = df_counts.reset_index()
print(df_counts)

           who  total_utterances  avg_u_len_per_speaker
0        S0001               354              27.627119
1        S0002               534              26.239700
2        S0003               166              27.650602
3        S0004               323              32.746130
4        S0005               147              30.714286
..         ...               ...                    ...
666      S0691               280              27.050000
667      S0692               164              21.859756
668  UNKFEMALE              4621              17.482796
669    UNKMALE              4078              19.669201
670   UNKMULTI               167               6.035928

[671 rows x 3 columns]

In [153]:
# merge df1 and df_utts on the column 'who' and 'id' respectively
df_final = pd.merge(df1, df_counts, left_on='id', right_on='who')

# drop the column 'who'
df_final = df_final.drop(columns=['who'])

# remove duplicate rows in id column
df_final = df_final.drop_duplicates(subset=['id'])
df_final

         id exactage agerange gender  total_utterances  avg_u_len_per_speaker
0     S0021       27    19_29      F               981              24.900102
1     S0032       28    19_29      M               783              28.102171
2     S0094       33    30_39      F              1542              21.573281
5     S0095       33    30_39      M               641              23.377535
8     S0261       41    40_49      M              4532              43.247573
...     ...      ...      ...    ...               ...                    ...
3587  S0404       16    11_18      M               129              34.387597
3588  S0373       59    50_59      M                63              17.936508
3590  S0161      NaN    70_79      F               124              28.209677
3591  S0629       30    30_39      M               305              30.626230
3592  S0528       77    70_79      M               194              34.907216

[667 rows x 6 columns]

In [1]:
def get_xml(f_path):
    with open(f_path, 'r') as f:
        f = f.read()
    xml = etree.fromstring(f)
    return xml

In [37]:
get_xml('bnc2014spoken-xml/spoken/tagged/S2A5-tgd.xml')

# get the utterance tag and print the n attribute
# get_xml('bnc2014spoken-xml/spoken/tagged/S2A5-tgd.xml').xpath('//u//w/@lemma')
# create a dataframe with 2 columns, the who attribute from //u tag and the lemma attribute from //u//w tag

for i in get_xml('bnc2014spoken-xml/spoken/tagged/S2A5-tgd.xml').xpath('//u'):
    print(i.xpath('./@n'))
    print(i.xpath('.//w/@lemma'))
    # get the value of the //w tag
    print(i.xpath('.//w/text()'))

['1']
['a', 'hour', 'later', 'hope', 'she', 'stay', 'down', 'rather', 'late']
['an', 'hour', 'later', 'hope', 'she', 'stays', 'down', 'rather', 'late']
['2']
['well', 'she', 'have', 'those', 'two', 'hour', 'earlier']
['well', 'she', 'had', 'those', 'two', 'hours', 'earlier']
['3']
['yeah', 'i', 'know', 'but', 'that', 'be', 'why', 'we', 'be', 'a', 'hour', 'late', 'be', 'not', 'it', 'PUNC', 'mm', 'i', 'be', 'tired', 'now']
['yeah', 'I', 'know', 'but', 'that', "'s", 'why', 'we', "'re", 'an', 'hour', 'late', 'is', "n't", 'it', '?', 'mm', 'I', "'m", 'tired', 'now']
['4']
[]
[]
['5']
['do', 'you', 'text', '--anonnamem']
['did', 'you', 'text', '--ANONnameM']
['6']
['yeah', 'yeah', 'he', 'write', 'back', 'no', 'bother', 'lad']
['yeah', 'yeah', 'he', 'wrote', 'back', 'no', 'bother', 'lad']
['7']
['oh']
['oh']
['8']
['that', 'be', 'twice', 'i', 'have', 'cancel', 'now', 'maybe', 'i', 'can', 'go', 'out', 'tomorrow', 'night', 'i', 'be', 'not', 'feel', 'up', 'for', 'it', 'i', 'be', 'still', 'jet-lagged']
['that', "'s", 'twice', 'I', "'ve", 'cancelled', 'now', 'maybe', 'I', 'can', 'go', 'out', 'tomorrow', 'night', 'I', "'m", 'not', 'feeling', 'up', 'for', 'it', 'I', "'m", 'still', 'jet-lagged']
['9']
['some', 'people', 'get', 'jet', 'lag', 'longer', 'than', 'other', 'yeah']
['some', 'people', 'get', 'jet', 'lag', 'longer', 'than', 'others', 'yeah']
['10']
['it', 'have', 'nearly', 'be', 'a', 'week', 'mm', 'it', 'be', 'definitely', 'come', 'this', 'direction', 'though']
['it', "'s", 'nearly', 'been', 'a', 'week', 'mm', 'it', "'s", 'definitely', 'coming', 'this', 'direction', 'though']
['11']
['mm']
['mm']
['12']
['you', 'get', 'over', 'in', 'a', 'couple', 'of', 'day', 'go', 'the', 'other', 'way']
['you', 'get', 'over', 'in', 'a', 'couple', 'of', 'days', 'going', 'the', 'other', 'way']
['13']
['everybody', 'say', 'this', 'direction']
['everybody', 'says', 'this', 'direction']
['14']
['mm', 'yeah', 'when', 'we', 'get', 'back', 'to', '--anonplace', 'i', 'do', 'not', 'sleep', 'for', 'a', 'couple', 'of', 'day', 'do', 'not', 'i', 'in', 'the', 'day', 'but', 'then']
['mm', 'yeah', 'when', 'we', 'got', 'back', 'to', '--ANONplace', 'I', 'did', "n't", 'slept', 'for', 'a', 'couple', 'of', 'days', 'did', "n't", 'I', 'in', 'the', 'day', 'but', 'then']
['15']
['yeah']
['yeah']
['16']
['back', 'to', 'normal']
['back', 'to', 'normal']
['17']
['we', 'be', 'both', 'wait', 'no', 'one', 'of', 'we']
['we', 'were', 'both', 'wait', 'no', 'one', 'of', 'us']
['18']
['yeah']
['yeah']
['19']
['we', 'no', '--anonnamef', 'no', 'that', 'be', 'a', 'lie', '--anonnamef', 'eat', 'every', 'two', 'hour', 'in', 'her', 'first', 'week', 'that', 'night', '--anonnamem', 'and', '--anonnamem']
['we', 'no', '--ANONnameF', 'no', 'that', "'s", 'a', 'lie', '--ANONnameF', 'ate', 'every', 'two', 'hours', 'in', 'her', 'first', 'week', 'that', 'night', '--ANONnameM', 'and', '--ANONnameM']
['20']
['mm']
['mm']
['21']
['and', 'erm']
['and', 'erm']
['22']
['yeah', 'well', 'she', 'be', 'still', 'not', 'back', 'to', 'normal']
['yeah', 'well', 'she', "'s", 'still', 'not', 'back', 'to', 'normal']
['23']
['i', 'hope', 'she', 'sleep', 'tonight']
['I', 'hope', 'she', 'sleep', 'tonight']
['24']
['mm']
['mm']
['25']
['i', 'be', 'fed', 'up', 'of', 'she', 'get', 'up']
['I', "'m", 'fed', 'up', 'of', 'her', 'getting', 'up']
['26']
['mm', 'she', 'be', 'not', 'too', 'bad', 'last', 'night', 'be', 'she', 'PUNC']
['mm', 'she', 'was', "n't", 'too', 'bad', 'last', 'night', 'was', 'she', '?']
['27']
['no', 'she', 'sleep']
['no', 'she', 'slept']
['28']
['well', 'mind', 'you', 'i', 'yeah', 'i', 'do', 'not', 'sleep', 'well', 'actually']
['well', 'mind', 'you', 'I', 'yeah', 'I', 'did', "n't", 'sleep', 'well', 'actually']
['29']
['she', 'sleep', 'in', 'my', 'in', 'our', 'bed']
['she', 'slept', 'in', 'my', 'in', 'our', 'bed']
['30']
['yeah']
['yeah']
['31']
['again', 'and', 'i', 'have', 'get', 'and', 'i', 'be', 'not', 'allow', 'to', 'do', 'that', 'cos', 'i', 'wake', 'she', 'up', 'hi', 'and', 'i', 'be', 'like', 'oh']
['again', 'and', 'I', "'ve", 'got', 'and', 'I', "'m", 'not', 'allowed', 'to', 'do', 'that', 'cos', 'I', 'wake', 'her', 'up', 'hi', 'and', 'I', "'m", 'like', 'oh']
['32']
['mm']
['mm']
['33']
['now', 'that', 'be', 'oh', 'yeah', 'yeah', 'i', 'do', 'not', 'real-', 'like', 'i', 'i', 'know', 'that', 'm-', 'she', 'be', 'there', 'and', 'my', 'arm', 'around', 'she', 'y-', 'it', 'be', 'not', 'that', 'far', 'to', 'the', 'edge', 'of', 'the', 'bed', 'really']
['now', 'that', "'s", 'oh', 'yeah', 'yeah', 'I', 'do', "n't", 'real-', 'like', 'I', 'I', 'know', 'that', 'm-', 'she', "'s", 'there', 'and', 'my', 'arms', 'around', 'her', 'y-', 'it', "'s", 'not', 'that', 'far', 'to', 'the', 'edge', 'of', 'the', 'bed', 'really']
['34']
['no']
['no']
['35']
['and', 'they', 'say', 'you', 'will']
['and', 'they', 'say', 'you', 'will']
['36']
['that', 'be', 'a', 'funny', 'noise']
['that', 'was', 'a', 'funny', 'noise']
['37']
['but', 'she', 'just', 'would', 'not', 'settle', 'down']
['but', 'she', 'just', 'would', "n't", 'settle', 'down']
['38']
['mm']
['mm']
['39']
['and', 'she', 'settle', 'down', 'when', 'she', 'be', 'be', 'cuddle', 'ah']
['and', 'she', 'settled', 'down', 'when', 'she', 'was', 'being', 'cuddled', 'ah']
['40']
['mm']
['mm']
['41']
['a', 'bit', 'worried', 'that', 'her']
['a', 'bit', 'worried', 'that', 'her']
['42']
['yeah', 'well', 'you', 'do', 'not', 'want', 'na', 'start', 'like', 'comfort', 'she', 'all', 'the', 'time']
['yeah', 'well', 'you', 'do', "n't", 'wan', 'na', 'start', 'like', 'comforting', 'her', 'all', 'the', 'time']
['43']
['her', 'change', 'happen', 'from', 'cuddle', 'i', 'think']
['her', 'change', 'happened', 'from', 'cuddling', 'I', 'think']
['44']
['yeah']
['yeah']
['45']
['right', 'at', 'the', 'end', 'of', 'the', 'holiday', 'which', 'mean', 'that', 'she', 'be', 'jet-lagged', 'and', 'she', 'be', 'get', 'well', 'demand', 'and', 'she', 'want', 'want', 'want', 'and']
['right', 'at', 'the', 'end', 'of', 'the', 'holiday', 'which', 'means', 'that', 'she', "'s", 'jet-lagged', 'and', 'she', "'s", 'gets', 'well', 'demanding', 'and', 'she', 'want', 'want', 'want', 'and']
['46']
['mm']
['mm']
['47']
['and', 'so', 'b-', 'we', 'can', 'not', 'do', 'the', 'training', 'till', 'she', 'have', 'get', 'over', 'her', 'jeg', 'lag']
['and', 'so', 'b-', 'we', 'ca', "n't", 'do', 'the', 'training', 'till', 'she', "'s", 'got', 'over', 'her', 'jeg', 'lag']
['48']
['mm']
['mm']
['49']
['can', 'not', 'like', 'can', 'not', 'be', 'mean', 'and', 'i', 'think', 'she', 'need', 'she', 'be', 'c-', 'must', 'be', 'confuse', 'and']
['ca', "n't", 'like', 'ca', "n't", 'be', 'mean', 'and', 'I', 'think', 'she', 'needs', 'she', "'s", 'c-', 'must', 'be', 'confused', 'and']
['50']
['huh']
['huh']
['51']
['got', 'ta', 'be', 'confuse', 'as', 'a', 'baby', 'have', 'not', 'you', 'PUNC']
['got', 'ta', 'be', 'confused', 'as', 'a', 'baby', 'have', "n't", 'you', '?']
['52']
['mm']
['mm']
['53']
['all', 'of', 'that', 'that', 'be', 'a', 'lot']
['all', 'of', 'that', 'that', 'was', 'a', 'lot']
['54']
['mm']
['mm']
['55']
['mm']
['mm']
['56']
['have', 'we', 'get', 'enough', 'clothes', 'to', 'last', 'she', 'PUNC']
['have', 'we', 'got', 'enough', 'clothes', 'to', 'last', 'her', '?']
['57']
['want', 'to', 'go', 'through', 'the', 'new', 'bag', 'actually', 'i', 'have', 'get', 'i', 'have', 'get', 'a', 'bag', 'of', 'the', 'next', 'lot', 'up', 'that', '--anonnamef', 'give', 'i', 'i', 'need', 'to', 'have', 'a', 'look', 'at', 'that', 'she', 'get', 'pyjamas', 'pyjamas', 'be', 'fine', 'just', 'get', 'to', 'have', 'a', 'look', 'at', 'what', 'clothes', 'she', 'have', 'get', 'we', 'have', 'get', 'mm', 'yeah', 'the', 'only', 'thing', 'i', 'think', 'be', 'the', 'trousers', 'do', 'not', 'i', 'not', 'that', 'many', 'trousers', 'but', 'i', 'think', 'mum', 'buy', 'she', 'some', 'trousers', 'a', 'trousers', 'outfit', 'and', 'your', 'brother', 'buy', 'a', 'trousers', 'outfit']
['wan', 'na', 'go', 'through', 'the', 'new', 'bag', 'actually', 'I', "'ve", 'got', 'I', "'ve", 'got', 'a', 'bag', 'of', 'the', 'next', 'lot', 'up', 'that', '--ANONnameF', 'gave', 'me', 'I', 'need', 'to', 'have', 'a', 'look', 'at', 'that', 'she', 'got', 'pyjamas', 'pyjamas', 'are', 'fine', 'just', 'got', 'to', 'have', 'a', 'look', 'at', 'what', 'clothes', 'she', "'s", 'got', 'we', "'ve", 'got', 'mm', 'yeah', 'the', 'only', 'thing', 'I', 'thought', 'was', 'the', 'trousers', 'did', "n't", 'I', 'not', 'that', 'many', 'trousers', 'but', 'I', 'think', 'mum', 'bought', 'her', 'some', 'trousers', 'a', 'trouser', 'outfit', 'and', 'your', 'brother', 'bought', 'a', 'trouser', 'outfit']
['58']
['mm']
['mm']
['59']
['and', 'there', 'be', 'two', 'pair']
['and', 'there', "'s", 'two', 'pairs']
['60']
['mm']
['mm']
['61']
['so', 'well', 'then', 'you', 'know', 'it', 'be', 'not', 'going', 'to', 'be', 'winter', 'till', 'december']
['so', 'well', 'then', 'you', 'know', 'it', "'s", 'not', 'gon', 'na', 'be', 'winter', 'till', 'December']
['62']
['yeah']
['yeah']
['63']
['so', 'we', 'will', 'see', 'how', 'she', 'go']
['so', 'we', "'ll", 'see', 'how', 'she', 'goes']
['64']
['mm']
['mm']
['65']
['i', 'mean', 'she', 'be', 'fine', 'in', 'all', 'her', 'dress', 'at', 'the', 'moment']
['I', 'mean', 'she', "'s", 'fine', 'in', 'all', 'her', 'dresses', 'at', 'the', 'moment']
['66']
['mm']
['mm']
['67']
['they', 'be', 'get', 'a', 'bit', 'short', 'though']
['they', "'re", 'getting', 'a', 'bit', 'short', 'though']
['68']
['mm']
['mm']
['69']
['get', 'short', 'and', 'short', 'and', 'short', 'like', 'little', 'top']
['getting', 'shorter', 'and', 'shorter', 'and', 'shorter', 'like', 'little', 'tops']
['70']
[]
[]
['71']
['with', 'a', 'nappy', 'poke', 'underneath', 'mm']
['with', 'a', 'nappy', 'poking', 'underneath', 'mm']
['72']
['no', 'she', 'do', 'not', 'need', 'many', 'clothes', 'at', 'the', 'moment', 'do', 'she', 'PUNC', 'really', 'PUNC', 'so', 'hot']
['no', 'she', 'does', "n't", 'need', 'many', 'clothes', 'at', 'the', 'moment', 'does', 'she', '?', 'really', '?', 'so', 'hot']
['73']
['no', 'i', 'do', 'like', 'when', 'go', 'out', 'i', 'do', 'like', 'to', 'put', 'on', 'you', 'know', 'nice', 'little', 'like', 'that']
['no', 'I', 'do', 'like', 'when', 'going', 'out', 'I', 'do', 'like', 'to', 'put', 'on', 'you', 'know', 'nice', 'little', 'like', 'that']
['74']
['yeah', 'that', 'be', 'more', 'for', 'showy', 'be', 'not', 'it', 'PUNC', 'be']
['yeah', 'that', "'s", 'more', 'for', 'showy', 'is', "n't", 'it', '?', 'being']
['75']
['no', 'it', 'be', 'because', 'she', 'i', 'do', 'not', 'know', 'we', 'we', 'feel', 'better', 'when', 'she', 'be', 'in', 'nice', 'clothes']
['no', 'it', "'s", 'because', 'she', 'I', 'do', "n't", 'know', 'we', 'we', 'feel', 'better', 'when', 'she', "'s", 'in', 'nice', 'clothes']
['76']
['we', 'PUNC']
['we', '?']
['77']
['yeah']
['yeah']
['78']
['what', 'she', 'tell', 'you', 'PUNC']
['what', 'she', 'tell', 'you', '?']
['79']
['well', 'i', 'have', 'get', 'rubbish', 'clothes', 'so', 'i', 'do', 'not', 'feel', 'better', 'in', 'any', 'of', 'my', 'clothes']
['well', 'I', "'ve", 'got', 'rubbish', 'clothes', 'so', 'I', 'do', "n't", 'feel', 'better', 'in', 'any', 'of', 'my', 'clothes']
['80']
['how', 'how', 'do', 'you', 'know', 'she', 'feel', 'good', 'PUNC']
['how', 'how', 'do', 'you', 'know', 'she', 'feels', 'better', '?']
['81']
['cos', 'she', 'smile', 'so', 'much', 'she', 'she', 'she', 'choose', 'i', 'give', 'she', 'two', 'outfit', 'put', 'they', 'in', 'front', 'of', 'she', 'and', 'she', 'go', 'hah', 'hah', 'hah', 'hah', 'huh', 'and']
['cos', 'she', 'smiles', 'so', 'much', 'she', 'she', 'she', 'chooses', 'I', 'give', 'her', 'two', 'outfits', 'put', 'them', 'in', 'front', 'of', 'her', 'and', 'she', 'goes', 'hah', 'hah', 'hah', 'hah', 'huh', 'and']
['82']
[]
[]
['83']
['choose', 'one']
['chooses', 'one']
['84']
[]
[]
['85']
['and', 'grab', 'one', 'and', 'try', 'to', 'eat', 'it', 'and', 'then']
['and', 'grabs', 'one', 'and', 'tries', 'to', 'eat', 'it', 'and', 'then']
['86']
['mm']
['mm']
['87']
['oh', 'you', 'be', 'so', 'cute']
['oh', 'you', "'re", 'so', 'cute']
['88']
['mm']
['mm']
['89']
['you', 'have', 'got', 'ta', 'have', 'br-', 'and', 'she', 'love', 'the', 'colour', 'of', 'the']
['you', "'ve", 'got', 'ta', 'have', 'br-', 'and', 'she', 'loves', 'the', 'colours', 'of', 'the']
['90']
['mm']
['mm']
['91']
['blue', 'you', 'can', 'not', 'take', 'away', 'the', 'colour', 'of', 'the', 'bright', 'colour', 'of', 'the', 'baby', 'clothes']
['blue', 'you', 'ca', "n't", 'take', 'away', 'the', 'colours', 'of', 'the', 'bright', 'colours', 'of', 'the', 'baby', 'clothes']
['92']
['yeah']
['yeah']
['93']
['yeah', 'if', 'she', 'be', 'in', 'grey', 'do', 'you', 'think', 'she', 'would', 'feel', 'good', 'PUNC', 'i', 'do', 'not', 'think', 'she', 'would']
['yeah', 'if', 'she', 'was', 'in', 'grey', 'do', 'you', 'think', 'she', "'d", 'feel', 'good', '?', 'I', 'do', "n't", 'think', 'she', 'would']
['94']
[]
[]
['95']
['i', 'think', 'she', 'would', 'feel', 'rubbish', 'if', 'sh-', 'we', 'dress', 'she', 'in', 'grey']
['I', 'think', 'she', "'d", 'feel', 'rubbish', 'if', 'sh-', 'we', 'dressed', 'her', 'in', 'grey']
['96']
['i', 'do', 'n', 'no', 'shall', 'we', 'do', 'it', 'PUNC']
['I', 'du', 'n', 'no', 'shall', 'we', 'do', 'it', '?']
['97']
['no', 'i', 'want']
['no', 'I', 'want']
['98']
['experiment']
['experiment']
['99']
['i', 'want', 'she', 'to', 'feel', 'lovely']
['I', 'want', 'her', 'to', 'feel', 'lovely']
['100']
[]
[]
['101']
['a', 'experiment']
['an', 'experiment']
['102']
['well', 'we', 'should', 'have', 'another', 'baby', 'and', 'just', 'dress', 'she', 'in', 'grey']
['well', 'we', 'should', 'have', 'another', 'baby', 'and', 'just', 'dress', 'her', 'in', 'grey']
['103']
['no', 'shall', 'we', 'have', 'another', 'baby', 'PUNC']
['no', 'shall', 'we', 'have', 'another', 'baby', '?']
['104']
[]
[]
['105']
[]
[]
['106']
[]
[]
['107']
['do', 'you', 'just', 'say', 'uh', 'PUNC', 'it', 'be', 'a', 'bit', 'soon']
['did', 'you', 'just', 'say', 'uh', '?', 'it', "'s", 'a', 'bit', 'soon']
['108']
['i', 'do', 'not', 'say', 'anything']
['I', 'did', "n't", 'say', 'anything']
['109']
['i', 'hear', 'it', 'i', 'hear', 'you']
['I', 'heard', 'it', 'I', 'heard', 'you']
['110']
['think', 'i', 'need', 'to', 'sleep', 'for', 'three', 'year', 'first']
['think', 'I', 'need', 'to', 'sleep', 'for', 'three', 'years', 'first']
['111']
['sleep', 'for', 'three', 'year', 'PUNC']
['sleep', 'for', 'three', 'years', '?']
['112']
['mm']
['mm']
['113']
['what', 'till', 'she', 'be', 'three', 'year', 'old', 'PUNC', 'four', 'year', 'old', 'PUNC', 'do', 'not', 'think', 'you', 'be', 'going', 'to', 'get', 'any', 'sleep']
['what', 'till', 'she', "'s", 'three', 'years', 'old', '?', 'four', 'years', 'old', '?', 'do', "n't", 'think', 'you', "'re", 'gon', 'na', 'get', 'any', 'sleep']
['114']
[]
[]
['115']
['but', 'we', 'have', 'get', 'to', 'learn', 'to', 'survive', 'without', 'sleep', 'now']
['but', 'we', "'ve", 'got', 'to', 'learn', 'to', 'survive', 'without', 'sleep', 'now']
['116']
[]
[]
['117']
['let', "'s", 'think', 'unless', 'we', 'can', 'make', 'she', 'go', 'back', 'into', 'her', 'old', 'pattern', 'of', 'go', 'to', 'bed', 'at', 'seven']
['let', "'s", 'think', 'unless', 'we', 'can', 'make', 'her', 'go', 'back', 'into', 'her', 'old', 'pattern', 'of', 'going', 'to', 'bed', 'at', 'seven']
['118']
['yeah']
['yeah']
['119']
['that', 'would', 'be', 'great']
['that', "'d", 'be', 'great']
['120']
['or', 'we', 'can', 'find', 'a', 'cocaine', 'dealer']
['or', 'we', 'can', 'find', 'a', 'cocaine', 'dealer']
['121']
['ah', 'i', 'get', 'the', '--unclearword', 'i', 'have', 'to', 'stop']
['ah', 'I', 'got', 'the', '--UNCLEARWORD', 'I', 'have', 'to', 'stop']
['122']
[]
[]
['123']
['good', 'for', 'you', 'PUNC', 'yeah', 'for', 'you', 'right']
['good', 'for', 'you', '?', 'yeah', 'for', 'you', 'right']
['124']
[]
[]
['125']
['oh', 'maybe', 'i', 'should', 'drink', 'more', 'herbal', 'tea', 'for', 'she']
['oh', 'maybe', 'I', 'should', 'drink', 'more', 'herbal', 'teas', 'for', 'her']
['126']
['mm']
['mm']
['127']
['camomile', 'amount', 'of', 'camomile', 'tea', 'that', 'might', 'be', 'it', 'that', 'might', 'be', 'why', 'always', 'use', 'to', 'have', 'camomile', 'tea', 'before', 'bed']
['camomile', 'amount', 'of', 'camomile', 'tea', 'that', 'might', 'be', 'it', 'that', 'might', 'be', 'why', 'always', 'used', 'to', 'have', 'camomile', 'tea', 'before', 'bed']
['128']
['maybe']
['maybe']
['129']
['yeah']
['yeah']
['130']
['i', 'have', 'get', 'a', 'bottle', 'of', 'whisky', 'over', 'there']
['I', "'ve", 'got', 'a', 'bottle', 'of', 'whisky', 'over', 'there']
['131']
['ah', 'that', 'will', 'do', 'we', 'will', 'send', 'that']
['ah', 'that', "'ll", 'do', 'we', "'ll", 'send', 'that']
['132']
['it', 'will', 'probably', 'do', 'the', 'trick']
['it', "'ll", 'probably', 'do', 'the', 'trick']
['133']
['mm', 'yeah', 'we', 'can', 'send', 'they', 'camomile', 'tea']
['mm', 'yeah', 'we', 'can', 'send', 'them', 'camomile', 'tea']
['134']
[]
[]
['135']
['yeah', 'or', 'maybe', 'it', 'be', 'something', 'like', 'that', 'yeah']
['yeah', 'or', 'maybe', 'it', "'s", 'something', 'like', 'that', 'yeah']
['136']
['might', 'have', 'a', 'whisky', 'tonight', 'actually']
['might', 'have', 'a', 'whisky', 'tonight', 'actually']
['137']
['i', 'think']
['I', 'thought']
['138']
['get', 'any', 'mixer', 'leave', 'PUNC']
['got', 'any', 'mixers', 'left', '?']
['139']
['er', 'yeah', 'tonic', 'water']
['er', 'yeah', 'tonic', 'water']
['140']
['tonic', 'well', 'i', 'do', 'not', 'like', 'no', 'i', 'do', 'not', 'want', 'gin']
['tonic', 'well', 'I', 'do', "n't", 'like', 'no', 'I', 'do', "n't", 'want', 'gin']
['141']
['whisky', 'you', 'can', 'just', 'have', 'with', 'hot', 'water']
['whisky', 'you', 'can', 'just', 'have', 'with', 'hot', 'water']
['142']
['er']
['er']
['143']
['it', 'what', 'be', 'that', 'a', 'hot', 'toddy', 'or', 'something', 'PUNC']
['it', 'what', 'is', 'that', 'a', 'hot', 'toddy', 'or', 'something', '?']
['144']
['yeah']
['yeah']
['145']
['hot', 'toddy', 'PUNC']
['hot', 'toddy', '?']
['146']
['it', 'be', 'alright', 'with', 'lemon', 'and', 'honey']
['it', "'s", 'alright', 'with', 'lemon', 'and', 'honey']
['147']
['or', 'have', 'a', 'whisky', 'hot', 'chocolate', 'no', 'PUNC']
['or', 'have', 'a', 'whisky', 'hot', 'chocolate', 'no', '?']
['148']
['yeah']
['yeah']
['149']
['that', 'might', 'be', 'nice']
['that', 'might', 'be', 'nice']
['150']
['yeah']
['yeah']
['151']
['be', 'such', 'a', 'long', 'time', 'since', 'i', 'have']
['been', 'such', 'a', 'long', 'time', 'since', 'I', "'ve"]
['152']
['be', 'that', 'whisky', 'or', 'rum', 'PUNC', 'hot', 'chocolate', 'PUNC']
['was', 'that', 'whisky', 'or', 'rum', '?', 'hot', 'chocolate', '?']
['153']
['yeah', 'you', 'know', 'my', 'bullet', 'blender', 'PUNC']
['yeah', 'you', 'know', 'my', 'bullet', 'blender', '?']
['154']
['mm']
['mm']
['155']
['that', 'i', 'keep', 'talk', 'about']
['that', 'I', 'keep', 'talking', 'about']
['156']
['yeah', 'you', 'realise', 'you', 'have', 'get', 'a', 'long', 'time', 'before', 'your', 'birthday', 'PUNC', 'it', 'be', 'christmas', 'first']
['yeah', 'you', 'realise', 'you', "'ve", 'got', 'a', 'long', 'time', 'before', 'your', 'birthday', '?', 'it', "'s", 'Christmas', 'first']
['157']
['can', 'not', 'i', 'get', 'it', 'for', 'christmas', 'PUNC']
['ca', "n't", 'I', 'get', 'it', 'for', 'Christmas', '?']
['158']
['yeah', 'can', 'you', 'buy', 'they', 'in', '--anonplace', 'PUNC']
['yeah', 'can', 'you', 'buy', 'them', 'in', '--ANONplace', '?']
['159']
['i', 'find', 'it', 'on', 'taobao']
['I', 'found', 'it', 'on', 'Taobao']
['160']
[]
[]
['161']
['but', 'er', 'and', 'it', 'be', 'like', 'twenty', 'quid']
['but', 'er', 'and', 'it', "'s", 'like', 'twenty', 'quid']
['162']
['twenty', 'quid', 'PUNC', 'well', 'it', 'be', 'not', 'going', 'to', 'be', 'very', 'good', 'be', 'it', 'PUNC', 'how', 'many', 'blender', 'have', 'we', 'buy', 'PUNC', 'and', 'you', 'have', 'be', 'disappoint', 'every', 'time']
['twenty', 'quid', '?', 'well', 'it', "'s", 'not', 'gon', 'na', 'be', 'very', 'good', 'is', 'it', '?', 'how', 'many', 'blenders', 'have', 'we', 'bought', '?', 'and', 'you', "'ve", 'been', 'disappointed', 'every', 'time']
['163']

In [31]:
f_paths2 = ['bnc2014spoken-xml/spoken/tagged/S2A5-tgd.xml']

In [ ]:
# dialogue_data2 = []
# for path in f_paths2:  # for each of the dialogues
#     for i in get_xml(path).xpath('//u'):
#         u_n = i.xpath('./@n')[0]
#         u_who = i.xpath('./@who')[0]
#         u_trans = i.xpath('./@trans')[0]
#         u_confidence = i.xpath('./@whoConfidence')[0]

#         full_data = []
#         w_pos_data = []
#         w_lemma_data = []
#         w_class_data = []
#         w_usas_data = []
#         w_words_data = []
#         for w in i.xpath('.//w'):
#             w_pos_data.append(w.xpath('./@pos')[0])
#             w_lemma_data.append(w.xpath('./@lemma')[0])
#             w_class_data.append(w.xpath('./@class')[0])
#             w_usas_data.append(w.xpath('./@usas')[0])
#             w_words_data.append(w.xpath('./text()')[0])
        
#         full_data.append({
#                 'u_n': u_n,
#                 'u_who': u_who,
#                 'u_trans': u_trans,
#                 'u_confidence': u_confidence,
#                 'w_pos': w_pos_data,
#                 'w_lemma': w_lemma_data,
#                 'w_class': w_class_data,
#                 'w_usas': w_usas_data,
#                 'w_words': w_words_data,
#                 'dialogue': path.split('/')[-1].replace("-tgd.xml", "")
#         })

#         dialogue_data2.extend(full_data)

# df_word_data = pd.DataFrame(dialogue_data2)

In [66]:
dialogue_data2 = []
for path in f_paths2:  # for each of the dialogues
    for i in get_xml(path).xpath('//u'):
        u_n = i.xpath('./@n')[0]
        u_who = i.xpath('./@who')[0]
        u_trans = i.xpath('./@trans')[0]
        u_confidence = i.xpath('./@whoConfidence')[0]
    
        word_data = []
        for w in i.xpath('.//w'):
            w_pos = w.xpath('./@pos')[0]
            w_lemma = w.xpath('./@lemma')[0]
            w_class = w.xpath('./@class')[0]
            w_usas = w.xpath('./@usas')[0]
            w_words = w.xpath('./text()')[0]

            word_data.append({
                'u_n': u_n,
                'u_who': u_who,
                'u_trans': u_trans,
                'u_confidence': u_confidence,
                'w_pos': w_pos,
                'w_lemma': w_lemma,
                'w_class': w_class,
                'w_usas': w_usas,
                'w_words': w_words,
                'dialogue': path.split('/')[-1].replace("-tgd.xml", "")
            })

        dialogue_data2.extend(word_data)

df_word_data = pd.DataFrame(dialogue_data2)

In [67]:
df_word_data

,u_n,u_who,u_trans,u_confidence,w_pos,w_lemma,w_class,w_usas,w_words,dialogue
0,[1],[S0024],[nonoverlap],[high],[AT1],[a],[ART],[Z5],[an],S2A5
1,[1],[S0024],[nonoverlap],[high],[NNT1],[hour],[SUBST],[T1:3],[hour],S2A5
2,[1],[S0024],[nonoverlap],[high],[RRR],[later],[ADV],[T4],[later],S2A5
3,[1],[S0024],[nonoverlap],[high],[VV0],[hope],[VERB],[X2:6],[hope],S2A5
4,[1],[S0024],[nonoverlap],[high],[PPHS1],[she],[PRON],[Z8],[she],S2A5
...,...,...,...,...,...,...,...,...,...,...
1892,[233],[S0024],[overlap],[high],[RR],[hardly],[ADV],[N5],[hardly],S2A5
1893,[233],[S0024],[overlap],[high],[DD],[any],[ADJ],[N5],[any],S2A5
1894,[233],[S0024],[overlap],[high],[FU],[--unclearword],[UNC],[Z99],[--UNCLEARWORD],S2A5
1895,[233],[S0024],[overlap],[high],[VV0],[take],[VERB],[A9],[take],S2A5
1896,[233],[S0024],[overlap],[high],[PPHO1],[she],[PRON],[Z8],[her],S2A5

In [61]:
df_word_data

,u_n,u_who,u_trans,u_confidence,w_pos,w_lemma,w_class,w_usas,w_words,dialogue
0,1,S0024,nonoverlap,high,AT1,a,ART,Z5,an,S2A5
1,1,S0024,nonoverlap,high,NNT1,hour,SUBST,T1:3,hour,S2A5
2,1,S0024,nonoverlap,high,RRR,later,ADV,T4,later,S2A5
3,1,S0024,nonoverlap,high,VV0,hope,VERB,X2:6,hope,S2A5
4,1,S0024,nonoverlap,high,PPHS1,she,PRON,Z8,she,S2A5
...,...,...,...,...,...,...,...,...,...,...
1892,233,S0024,overlap,high,RR,hardly,ADV,N5,hardly,S2A5
1893,233,S0024,overlap,high,DD,any,ADJ,N5,any,S2A5
1894,233,S0024,overlap,high,FU,--unclearword,UNC,Z99,--UNCLEARWORD,S2A5
1895,233,S0024,overlap,high,VV0,take,VERB,A9,take,S2A5
1896,233,S0024,overlap,high,PPHO1,she,PRON,Z8,her,S2A5

In [62]:
# get the count of unique dialogues in the dataframe
df_word_data['dialogue'].nunique()

1

In [153]:
# untagged

def get_xml(f_path):
    with open(f_path, 'r') as f:
        f = f.read()
    xml = etree.fromstring(f)
    return xml

In [154]:
# delete cell

# f_paths = ['bnc2014spoken-xml/spoken/untagged/S2A5.xml']

f_paths

['bnc2014spoken-xml/spoken/untagged/S23A.xml',
 'bnc2014spoken-xml/spoken/untagged/S24A.xml',
 'bnc2014spoken-xml/spoken/untagged/S24D.xml',
 'bnc2014spoken-xml/spoken/untagged/S24E.xml',
 'bnc2014spoken-xml/spoken/untagged/S263.xml',
 'bnc2014spoken-xml/spoken/untagged/S26N.xml',
 'bnc2014spoken-xml/spoken/untagged/S27D.xml',
 'bnc2014spoken-xml/spoken/untagged/S28F.xml',
 'bnc2014spoken-xml/spoken/untagged/S29Q.xml',
 'bnc2014spoken-xml/spoken/untagged/S29X.xml',
 'bnc2014spoken-xml/spoken/untagged/S2A5.xml',
 'bnc2014spoken-xml/spoken/untagged/S2AJ.xml',
 'bnc2014spoken-xml/spoken/untagged/S2AX.xml',
 'bnc2014spoken-xml/spoken/untagged/S2B5.xml',
 'bnc2014spoken-xml/spoken/untagged/S2C9.xml',
 'bnc2014spoken-xml/spoken/untagged/S2CY.xml',
 'bnc2014spoken-xml/spoken/untagged/S2DD.xml',
 'bnc2014spoken-xml/spoken/untagged/S2E2.xml',
 'bnc2014spoken-xml/spoken/untagged/S2EF.xml',
 'bnc2014spoken-xml/spoken/untagged/S2FQ.xml',
 'bnc2014spoken-xml/spoken/untagged/S2FT.xml',
 'bnc2014spoken-xml/spoken/untagged/S2GC.xml',
 'bnc2014spoken-xml/spoken/untagged/S2GS.xml',
 'bnc2014spoken-xml/spoken/untagged/S2JK.xml',
 'bnc2014spoken-xml/spoken/untagged/S2JV.xml',
 'bnc2014spoken-xml/spoken/untagged/S2K6.xml',
 'bnc2014spoken-xml/spoken/untagged/S2K7.xml',
 'bnc2014spoken-xml/spoken/untagged/S2KP.xml',
 'bnc2014spoken-xml/spoken/untagged/S2LC.xml',
 'bnc2014spoken-xml/spoken/untagged/S2LD.xml',
 'bnc2014spoken-xml/spoken/untagged/S2NQ.xml',
 'bnc2014spoken-xml/spoken/untagged/S2PS.xml',
 'bnc2014spoken-xml/spoken/untagged/S2PY.xml',
 'bnc2014spoken-xml/spoken/untagged/S2QU.xml',
 'bnc2014spoken-xml/spoken/untagged/S2RD.xml',
 'bnc2014spoken-xml/spoken/untagged/S2T6.xml',
 'bnc2014spoken-xml/spoken/untagged/S2TC.xml',
 'bnc2014spoken-xml/spoken/untagged/S2TP.xml',
 'bnc2014spoken-xml/spoken/untagged/S2U9.xml',
 'bnc2014spoken-xml/spoken/untagged/S2UJ.xml',
 'bnc2014spoken-xml/spoken/untagged/S2UT.xml',
 'bnc2014spoken-xml/spoken/untagged/S2W4.xml',
 'bnc2014spoken-xml/spoken/untagged/S2XJ.xml',
 'bnc2014spoken-xml/spoken/untagged/S2XV.xml',
 'bnc2014spoken-xml/spoken/untagged/S2Y5.xml',
 'bnc2014spoken-xml/spoken/untagged/S2YK.xml',
 'bnc2014spoken-xml/spoken/untagged/S2ZU.xml',
 'bnc2014spoken-xml/spoken/untagged/S323.xml',
 'bnc2014spoken-xml/spoken/untagged/S32W.xml',
 'bnc2014spoken-xml/spoken/untagged/S32Y.xml',
 'bnc2014spoken-xml/spoken/untagged/S33B.xml',
 'bnc2014spoken-xml/spoken/untagged/S33N.xml',
 'bnc2014spoken-xml/spoken/untagged/S346.xml',
 'bnc2014spoken-xml/spoken/untagged/S355.xml',
 'bnc2014spoken-xml/spoken/untagged/S35K.xml',
 'bnc2014spoken-xml/spoken/untagged/S35U.xml',
 'bnc2014spoken-xml/spoken/untagged/S36Z.xml',
 'bnc2014spoken-xml/spoken/untagged/S376.xml',
 'bnc2014spoken-xml/spoken/untagged/S37E.xml',
 'bnc2014spoken-xml/spoken/untagged/S37F.xml',
 'bnc2014spoken-xml/spoken/untagged/S37K.xml',
 'bnc2014spoken-xml/spoken/untagged/S37Y.xml',
 'bnc2014spoken-xml/spoken/untagged/S382.xml',
 'bnc2014spoken-xml/spoken/untagged/S38F.xml',
 'bnc2014spoken-xml/spoken/untagged/S38P.xml',
 'bnc2014spoken-xml/spoken/untagged/S38V.xml',
 'bnc2014spoken-xml/spoken/untagged/S39D.xml',
 'bnc2014spoken-xml/spoken/untagged/S3A9.xml',
 'bnc2014spoken-xml/spoken/untagged/S3AC.xml',
 'bnc2014spoken-xml/spoken/untagged/S3AV.xml',
 'bnc2014spoken-xml/spoken/untagged/S3C6.xml',
 'bnc2014spoken-xml/spoken/untagged/S3CK.xml',
 'bnc2014spoken-xml/spoken/untagged/S3CP.xml',
 'bnc2014spoken-xml/spoken/untagged/S3DA.xml',
 'bnc2014spoken-xml/spoken/untagged/S3GS.xml',
 'bnc2014spoken-xml/spoken/untagged/S3JF.xml',
 'bnc2014spoken-xml/spoken/untagged/S3KY.xml',
 'bnc2014spoken-xml/spoken/untagged/S3LE.xml',
 'bnc2014spoken-xml/spoken/untagged/S3M4.xml',
 'bnc2014spoken-xml/spoken/untagged/S3M9.xml',
 'bnc2014spoken-xml/spoken/untagged/S3MW.xml',
 'bnc2014spoken-xml/spoken/untagged/S3N4.xml',
 'bnc2014spoken-xml/spoken/untagged/S3QD.xml',
 'bnc2014spoken-xml/spoken/untagged/S3RL.xml',
 'bnc2014spoken-xml/spoken/untagged/S3RN.xml',
 'bnc2014spoken-xml/spoken/untagged/S3RZ.xml',
 'bnc2014spoken-xml/spoken/untagged/S3S6.xml',
 'bnc2014spoken-xml/spoken/untagged/S3SA.xml',
 'bnc2014spoken-xml/spoken/untagged/S3SU.xml',
 'bnc2014spoken-xml/spoken/untagged/S3TD.xml',
 'bnc2014spoken-xml/spoken/untagged/S3TZ.xml',
 'bnc2014spoken-xml/spoken/untagged/S3U3.xml',
 'bnc2014spoken-xml/spoken/untagged/S3UC.xml',
 'bnc2014spoken-xml/spoken/untagged/S3VM.xml',
 'bnc2014spoken-xml/spoken/untagged/S3XC.xml',
 'bnc2014spoken-xml/spoken/untagged/S3YZ.xml',
 'bnc2014spoken-xml/spoken/untagged/S432.xml',
 'bnc2014spoken-xml/spoken/untagged/S43M.xml',
 'bnc2014spoken-xml/spoken/untagged/S43S.xml',
 'bnc2014spoken-xml/spoken/untagged/S452.xml',
 'bnc2014spoken-xml/spoken/untagged/S457.xml',
 'bnc2014spoken-xml/spoken/untagged/S45F.xml',
 'bnc2014spoken-xml/spoken/untagged/S46J.xml',
 'bnc2014spoken-xml/spoken/untagged/S46Q.xml',
 'bnc2014spoken-xml/spoken/untagged/S477.xml',
 'bnc2014spoken-xml/spoken/untagged/S47C.xml',
 'bnc2014spoken-xml/spoken/untagged/S48K.xml',
 'bnc2014spoken-xml/spoken/untagged/S49H.xml',
 'bnc2014spoken-xml/spoken/untagged/S49V.xml',
 'bnc2014spoken-xml/spoken/untagged/S4BA.xml',
 'bnc2014spoken-xml/spoken/untagged/S4C2.xml',
 'bnc2014spoken-xml/spoken/untagged/S4CU.xml',
 'bnc2014spoken-xml/spoken/untagged/S4D8.xml',
 'bnc2014spoken-xml/spoken/untagged/S4HW.xml',
 'bnc2014spoken-xml/spoken/untagged/S4JC.xml',
 'bnc2014spoken-xml/spoken/untagged/S4K7.xml',
 'bnc2014spoken-xml/spoken/untagged/S4KE.xml',
 'bnc2014spoken-xml/spoken/untagged/S4KW.xml',
 'bnc2014spoken-xml/spoken/untagged/S4L9.xml',
 'bnc2014spoken-xml/spoken/untagged/S4MF.xml',
 'bnc2014spoken-xml/spoken/untagged/S4MV.xml',
 'bnc2014spoken-xml/spoken/untagged/S4NB.xml',
 'bnc2014spoken-xml/spoken/untagged/S4PC.xml',
 'bnc2014spoken-xml/spoken/untagged/S4PF.xml',
 'bnc2014spoken-xml/spoken/untagged/S4QF.xml',
 'bnc2014spoken-xml/spoken/untagged/S4QK.xml',
 'bnc2014spoken-xml/spoken/untagged/S4RF.xml',
 'bnc2014spoken-xml/spoken/untagged/S4S5.xml',
 'bnc2014spoken-xml/spoken/untagged/S4T3.xml',
 'bnc2014spoken-xml/spoken/untagged/S4TV.xml',
 'bnc2014spoken-xml/spoken/untagged/S4VJ.xml',
 'bnc2014spoken-xml/spoken/untagged/S4W8.xml',
 'bnc2014spoken-xml/spoken/untagged/S4WJ.xml',
 'bnc2014spoken-xml/spoken/untagged/S4XR.xml',
 'bnc2014spoken-xml/spoken/untagged/S4YQ.xml',
 'bnc2014spoken-xml/spoken/untagged/S4ZA.xml',
 'bnc2014spoken-xml/spoken/untagged/S4ZT.xml',
 'bnc2014spoken-xml/spoken/untagged/S527.xml',
 'bnc2014spoken-xml/spoken/untagged/S52C.xml',
 'bnc2014spoken-xml/spoken/untagged/S539.xml',
 'bnc2014spoken-xml/spoken/untagged/S555.xml',
 'bnc2014spoken-xml/spoken/untagged/S55B.xml',
 'bnc2014spoken-xml/spoken/untagged/S55M.xml',
 'bnc2014spoken-xml/spoken/untagged/S56S.xml',
 'bnc2014spoken-xml/spoken/untagged/S575.xml',
 'bnc2014spoken-xml/spoken/untagged/S57G.xml',
 'bnc2014spoken-xml/spoken/untagged/S57J.xml',
 'bnc2014spoken-xml/spoken/untagged/S59R.xml',
 'bnc2014spoken-xml/spoken/untagged/S59W.xml',
 'bnc2014spoken-xml/spoken/untagged/S5AA.xml',
 'bnc2014spoken-xml/spoken/untagged/S5B4.xml',
 'bnc2014spoken-xml/spoken/untagged/S5B6.xml',
 'bnc2014spoken-xml/spoken/untagged/S5DJ.xml',
 'bnc2014spoken-xml/spoken/untagged/S5EM.xml',
 'bnc2014spoken-xml/spoken/untagged/S5ER.xml',
 'bnc2014spoken-xml/spoken/untagged/S5HH.xml',
 'bnc2014spoken-xml/spoken/untagged/S5HT.xml',
 'bnc2014spoken-xml/spoken/untagged/S5J8.xml',
 'bnc2014spoken-xml/spoken/untagged/S5JX.xml',
 'bnc2014spoken-xml/spoken/untagged/S5LP.xml',
 'bnc2014spoken-xml/spoken/untagged/S5MM.xml',
 'bnc2014spoken-xml/spoken/untagged/S5P8.xml',
 'bnc2014spoken-xml/spoken/untagged/S5PF.xml',
 'bnc2014spoken-xml/spoken/untagged/S5PW.xml',
 'bnc2014spoken-xml/spoken/untagged/S5QP.xml',
 'bnc2014spoken-xml/spoken/untagged/S5QR.xml',
 'bnc2014spoken-xml/spoken/untagged/S5RP.xml',
 'bnc2014spoken-xml/spoken/untagged/S5SC.xml',
 'bnc2014spoken-xml/spoken/untagged/S5SJ.xml',
 'bnc2014spoken-xml/spoken/untagged/S5TE.xml',
 'bnc2014spoken-xml/spoken/untagged/S5U8.xml',
 'bnc2014spoken-xml/spoken/untagged/S5UJ.xml',
 'bnc2014spoken-xml/spoken/untagged/S5XD.xml',
 'bnc2014spoken-xml/spoken/untagged/S5XL.xml',
 'bnc2014spoken-xml/spoken/untagged/S5YC.xml',
 'bnc2014spoken-xml/spoken/untagged/S5YY.xml',
 'bnc2014spoken-xml/spoken/untagged/S622.xml',
 'bnc2014spoken-xml/spoken/untagged/S632.xml',
 'bnc2014spoken-xml/spoken/untagged/S63K.xml',
 'bnc2014spoken-xml/spoken/untagged/S63L.xml',
 'bnc2014spoken-xml/spoken/untagged/S64H.xml',
 'bnc2014spoken-xml/spoken/untagged/S66A.xml',
 'bnc2014spoken-xml/spoken/untagged/S66E.xml',
 'bnc2014spoken-xml/spoken/untagged/S66F.xml',
 'bnc2014spoken-xml/spoken/untagged/S67P.xml',
 'bnc2014spoken-xml/spoken/untagged/S682.xml',
 'bnc2014spoken-xml/spoken/untagged/S68E.xml',
 'bnc2014spoken-xml/spoken/untagged/S68F.xml',
 'bnc2014spoken-xml/spoken/untagged/S69G.xml',
 'bnc2014spoken-xml/spoken/untagged/S69V.xml',
 'bnc2014spoken-xml/spoken/untagged/S6A5.xml',
 'bnc2014spoken-xml/spoken/untagged/S6A7.xml',
 'bnc2014spoken-xml/spoken/untagged/S6AK.xml',
 'bnc2014spoken-xml/spoken/untagged/S6AP.xml',
 'bnc2014spoken-xml/spoken/untagged/S6AZ.xml',
 'bnc2014spoken-xml/spoken/untagged/S6BR.xml',
 'bnc2014spoken-xml/spoken/untagged/S6BS.xml',
 'bnc2014spoken-xml/spoken/untagged/S6EH.xml',
 'bnc2014spoken-xml/spoken/untagged/S6EX.xml',
 'bnc2014spoken-xml/spoken/untagged/S6GC.xml',
 'bnc2014spoken-xml/spoken/untagged/S6H4.xml',
 'bnc2014spoken-xml/spoken/untagged/S6HP.xml',
 'bnc2014spoken-xml/spoken/untagged/S6J2.xml',
 'bnc2014spoken-xml/spoken/untagged/S6J8.xml',
 'bnc2014spoken-xml/spoken/untagged/S6JL.xml',
 'bnc2014spoken-xml/spoken/untagged/S6JP.xml',
 'bnc2014spoken-xml/spoken/untagged/S6KV.xml',
 'bnc2014spoken-xml/spoken/untagged/S6MQ.xml',
 'bnc2014spoken-xml/spoken/untagged/S6PD.xml',
 'bnc2014spoken-xml/spoken/untagged/S6Q6.xml',
 'bnc2014spoken-xml/spoken/untagged/S6QU.xml',
 'bnc2014spoken-xml/spoken/untagged/S6R4.xml',
 'bnc2014spoken-xml/spoken/untagged/S6SH.xml',
 'bnc2014spoken-xml/spoken/untagged/S6TR.xml',
 'bnc2014spoken-xml/spoken/untagged/S6UQ.xml',
 'bnc2014spoken-xml/spoken/untagged/S6W8.xml',
 'bnc2014spoken-xml/spoken/untagged/S6YA.xml',
 'bnc2014spoken-xml/spoken/untagged/S6ZU.xml',
 'bnc2014spoken-xml/spoken/untagged/S72E.xml',
 'bnc2014spoken-xml/spoken/untagged/S72Q.xml',
 'bnc2014spoken-xml/spoken/untagged/S73U.xml',
 'bnc2014spoken-xml/spoken/untagged/S74A.xml',
 'bnc2014spoken-xml/spoken/untagged/S75W.xml',
 'bnc2014spoken-xml/spoken/untagged/S776.xml',
 'bnc2014spoken-xml/spoken/untagged/S784.xml',
 'bnc2014spoken-xml/spoken/untagged/S78E.xml',
 'bnc2014spoken-xml/spoken/untagged/S78H.xml',
 'bnc2014spoken-xml/spoken/untagged/S78P.xml',
 'bnc2014spoken-xml/spoken/untagged/S79Y.xml',
 'bnc2014spoken-xml/spoken/untagged/S7A6.xml',
 'bnc2014spoken-xml/spoken/untagged/S7AR.xml',
 'bnc2014spoken-xml/spoken/untagged/S7BR.xml',
 'bnc2014spoken-xml/spoken/untagged/S7DR.xml',
 'bnc2014spoken-xml/spoken/untagged/S7DT.xml',
 'bnc2014spoken-xml/spoken/untagged/S7FK.xml',
 'bnc2014spoken-xml/spoken/untagged/S7FU.xml',
 'bnc2014spoken-xml/spoken/untagged/S7GJ.xml',
 'bnc2014spoken-xml/spoken/untagged/S7GW.xml',
 'bnc2014spoken-xml/spoken/untagged/S7HR.xml',
 'bnc2014spoken-xml/spoken/untagged/S7JF.xml',
 'bnc2014spoken-xml/spoken/untagged/S7JG.xml',
 'bnc2014spoken-xml/spoken/untagged/S7JH.xml',
 'bnc2014spoken-xml/spoken/untagged/S7JS.xml',
 'bnc2014spoken-xml/spoken/untagged/S7K2.xml',
 'bnc2014spoken-xml/spoken/untagged/S7KD.xml',
 'bnc2014spoken-xml/spoken/untagged/S7KK.xml',
 'bnc2014spoken-xml/spoken/untagged/S7LN.xml',
 'bnc2014spoken-xml/spoken/untagged/S7MF.xml',
 'bnc2014spoken-xml/spoken/untagged/S7MU.xml',
 'bnc2014spoken-xml/spoken/untagged/S7NH.xml',
 'bnc2014spoken-xml/spoken/untagged/S7NJ.xml',
 'bnc2014spoken-xml/spoken/untagged/S7NV.xml',
 'bnc2014spoken-xml/spoken/untagged/S7P2.xml',
 'bnc2014spoken-xml/spoken/untagged/S7PM.xml',
 'bnc2014spoken-xml/spoken/untagged/S7PU.xml',
 'bnc2014spoken-xml/spoken/untagged/S7QE.xml',
 'bnc2014spoken-xml/spoken/untagged/S7QU.xml',
 'bnc2014spoken-xml/spoken/untagged/S7QY.xml',
 'bnc2014spoken-xml/spoken/untagged/S7RA.xml',
 'bnc2014spoken-xml/spoken/untagged/S7RD.xml',
 'bnc2014spoken-xml/spoken/untagged/S7RM.xml',
 'bnc2014spoken-xml/spoken/untagged/S7RW.xml',
 'bnc2014spoken-xml/spoken/untagged/S7S2.xml',
 'bnc2014spoken-xml/spoken/untagged/S7S7.xml',
 'bnc2014spoken-xml/spoken/untagged/S7SU.xml',
 'bnc2014spoken-xml/spoken/untagged/S7SX.xml',
 'bnc2014spoken-xml/spoken/untagged/S7SZ.xml',
 'bnc2014spoken-xml/spoken/untagged/S7TT.xml',
 'bnc2014spoken-xml/spoken/untagged/S7UX.xml',
 'bnc2014spoken-xml/spoken/untagged/S7V3.xml',
 'bnc2014spoken-xml/spoken/untagged/S7VD.xml',
 'bnc2014spoken-xml/spoken/untagged/S7WR.xml',
 'bnc2014spoken-xml/spoken/untagged/S7WW.xml',
 'bnc2014spoken-xml/spoken/untagged/S7WY.xml',
 'bnc2014spoken-xml/spoken/untagged/S7Z8.xml',
 'bnc2014spoken-xml/spoken/untagged/S7ZF.xml',
 'bnc2014spoken-xml/spoken/untagged/S7ZG.xml',
 'bnc2014spoken-xml/spoken/untagged/S839.xml',
 'bnc2014spoken-xml/spoken/untagged/S83A.xml',
 'bnc2014spoken-xml/spoken/untagged/S84P.xml',
 'bnc2014spoken-xml/spoken/untagged/S85D.xml',
 'bnc2014spoken-xml/spoken/untagged/S86J.xml',
 'bnc2014spoken-xml/spoken/untagged/S87R.xml',
 'bnc2014spoken-xml/spoken/untagged/S88R.xml',
 'bnc2014spoken-xml/spoken/untagged/S8B9.xml',
 'bnc2014spoken-xml/spoken/untagged/S8BQ.xml',
 'bnc2014spoken-xml/spoken/untagged/S8CB.xml',
 'bnc2014spoken-xml/spoken/untagged/S8CV.xml',
 'bnc2014spoken-xml/spoken/untagged/S8CW.xml',
 'bnc2014spoken-xml/spoken/untagged/S8G6.xml',
 'bnc2014spoken-xml/spoken/untagged/S8GL.xml',
 'bnc2014spoken-xml/spoken/untagged/S8J6.xml',
 'bnc2014spoken-xml/spoken/untagged/S8JW.xml',
 'bnc2014spoken-xml/spoken/untagged/S8K6.xml',
 'bnc2014spoken-xml/spoken/untagged/S8K9.xml',
 'bnc2014spoken-xml/spoken/untagged/S8LG.xml',
 'bnc2014spoken-xml/spoken/untagged/S8LS.xml',
 'bnc2014spoken-xml/spoken/untagged/S8NX.xml',
 'bnc2014spoken-xml/spoken/untagged/S8PT.xml',
 'bnc2014spoken-xml/spoken/untagged/S8PW.xml',
 'bnc2014spoken-xml/spoken/untagged/S8Q3.xml',
 'bnc2014spoken-xml/spoken/untagged/S8Q6.xml',
 'bnc2014spoken-xml/spoken/untagged/S8RC.xml',
 'bnc2014spoken-xml/spoken/untagged/S8RU.xml',
 'bnc2014spoken-xml/spoken/untagged/S8RY.xml',
 'bnc2014spoken-xml/spoken/untagged/S8S2.xml',
 'bnc2014spoken-xml/spoken/untagged/S8SH.xml',
 'bnc2014spoken-xml/spoken/untagged/S8TN.xml',
 'bnc2014spoken-xml/spoken/untagged/S8U5.xml',
 'bnc2014spoken-xml/spoken/untagged/S8VZ.xml',
 'bnc2014spoken-xml/spoken/untagged/S8W2.xml',
 'bnc2014spoken-xml/spoken/untagged/S8WS.xml',
 'bnc2014spoken-xml/spoken/untagged/S8X7.xml',
 'bnc2014spoken-xml/spoken/untagged/S8XE.xml',
 'bnc2014spoken-xml/spoken/untagged/S8YL.xml',
 'bnc2014spoken-xml/spoken/untagged/S92V.xml',
 'bnc2014spoken-xml/spoken/untagged/S94U.xml',
 'bnc2014spoken-xml/spoken/untagged/S94Z.xml',
 'bnc2014spoken-xml/spoken/untagged/S954.xml',
 'bnc2014spoken-xml/spoken/untagged/S95D.xml',
 'bnc2014spoken-xml/spoken/untagged/S968.xml',
 'bnc2014spoken-xml/spoken/untagged/S96L.xml',
 'bnc2014spoken-xml/spoken/untagged/S97B.xml',
 'bnc2014spoken-xml/spoken/untagged/S97Z.xml',
 'bnc2014spoken-xml/spoken/untagged/S985.xml',
 'bnc2014spoken-xml/spoken/untagged/S99N.xml',
 'bnc2014spoken-xml/spoken/untagged/S99Z.xml',
 'bnc2014spoken-xml/spoken/untagged/S9B9.xml',
 'bnc2014spoken-xml/spoken/untagged/S9CH.xml',
 'bnc2014spoken-xml/spoken/untagged/S9CR.xml',
 'bnc2014spoken-xml/spoken/untagged/S9D7.xml',
 'bnc2014spoken-xml/spoken/untagged/S9DE.xml',
 'bnc2014spoken-xml/spoken/untagged/S9E6.xml',
 'bnc2014spoken-xml/spoken/untagged/S9EP.xml',
 'bnc2014spoken-xml/spoken/untagged/S9ER.xml',
 'bnc2014spoken-xml/spoken/untagged/S9F7.xml',
 'bnc2014spoken-xml/spoken/untagged/S9F9.xml',
 'bnc2014spoken-xml/spoken/untagged/S9G2.xml',
 'bnc2014spoken-xml/spoken/untagged/S9GP.xml',
 'bnc2014spoken-xml/spoken/untagged/S9HC.xml',
 'bnc2014spoken-xml/spoken/untagged/S9KS.xml',
 'bnc2014spoken-xml/spoken/untagged/S9MK.xml',
 'bnc2014spoken-xml/spoken/untagged/S9N4.xml',
 'bnc2014spoken-xml/spoken/untagged/S9P6.xml',
 'bnc2014spoken-xml/spoken/untagged/S9RV.xml',
 'bnc2014spoken-xml/spoken/untagged/S9S8.xml',
 'bnc2014spoken-xml/spoken/untagged/S9UA.xml',
 'bnc2014spoken-xml/spoken/untagged/S9VA.xml',
 'bnc2014spoken-xml/spoken/untagged/S9VB.xml',
 'bnc2014spoken-xml/spoken/untagged/S9WB.xml',
 'bnc2014spoken-xml/spoken/untagged/S9WP.xml',
 'bnc2014spoken-xml/spoken/untagged/S9WZ.xml',
 'bnc2014spoken-xml/spoken/untagged/S9X9.xml',
 'bnc2014spoken-xml/spoken/untagged/S9YC.xml',
 'bnc2014spoken-xml/spoken/untagged/S9YG.xml',
 'bnc2014spoken-xml/spoken/untagged/S9ZL.xml',
 'bnc2014spoken-xml/spoken/untagged/S9ZP.xml',
 'bnc2014spoken-xml/spoken/untagged/S9ZU.xml',
 'bnc2014spoken-xml/spoken/untagged/SA2B.xml',
 'bnc2014spoken-xml/spoken/untagged/SA2J.xml',
 'bnc2014spoken-xml/spoken/untagged/SA4W.xml',
 'bnc2014spoken-xml/spoken/untagged/SA69.xml',
 'bnc2014spoken-xml/spoken/untagged/SA6K.xml',
 'bnc2014spoken-xml/spoken/untagged/SA6W.xml',
 'bnc2014spoken-xml/spoken/untagged/SA7J.xml',
 'bnc2014spoken-xml/spoken/untagged/SA88.xml',
 'bnc2014spoken-xml/spoken/untagged/SA9P.xml',
 'bnc2014spoken-xml/spoken/untagged/SA9T.xml',
 'bnc2014spoken-xml/spoken/untagged/SA9U.xml',
 'bnc2014spoken-xml/spoken/untagged/SAA3.xml',
 'bnc2014spoken-xml/spoken/untagged/SAAB.xml',
 'bnc2014spoken-xml/spoken/untagged/SAAF.xml',
 'bnc2014spoken-xml/spoken/untagged/SAB7.xml',
 'bnc2014spoken-xml/spoken/untagged/SABT.xml',
 'bnc2014spoken-xml/spoken/untagged/SACQ.xml',
 'bnc2014spoken-xml/spoken/untagged/SADE.xml',
 'bnc2014spoken-xml/spoken/untagged/SAF8.xml',
 'bnc2014spoken-xml/spoken/untagged/SAFZ.xml',
 'bnc2014spoken-xml/spoken/untagged/SAG4.xml',
 'bnc2014spoken-xml/spoken/untagged/SAHB.xml',
 'bnc2014spoken-xml/spoken/untagged/SAMQ.xml',
 'bnc2014spoken-xml/spoken/untagged/SAQD.xml',
 'bnc2014spoken-xml/spoken/untagged/SAR5.xml',
 'bnc2014spoken-xml/spoken/untagged/SASC.xml',
 'bnc2014spoken-xml/spoken/untagged/SASQ.xml',
 'bnc2014spoken-xml/spoken/untagged/SASU.xml',
 'bnc2014spoken-xml/spoken/untagged/SAT9.xml',
 'bnc2014spoken-xml/spoken/untagged/SAUJ.xml',
 'bnc2014spoken-xml/spoken/untagged/SAUR.xml',
 'bnc2014spoken-xml/spoken/untagged/SAVH.xml',
 'bnc2014spoken-xml/spoken/untagged/SAVN.xml',
 'bnc2014spoken-xml/spoken/untagged/SAVW.xml',
 'bnc2014spoken-xml/spoken/untagged/SAXQ.xml',
 'bnc2014spoken-xml/spoken/untagged/SAZ8.xml',
 'bnc2014spoken-xml/spoken/untagged/SAZX.xml',
 'bnc2014spoken-xml/spoken/untagged/SAZY.xml',
 'bnc2014spoken-xml/spoken/untagged/SB2H.xml',
 'bnc2014spoken-xml/spoken/untagged/SB32.xml',
 'bnc2014spoken-xml/spoken/untagged/SB49.xml',
 'bnc2014spoken-xml/spoken/untagged/SB4D.xml',
 'bnc2014spoken-xml/spoken/untagged/SB5E.xml',
 'bnc2014spoken-xml/spoken/untagged/SB6S.xml',
 'bnc2014spoken-xml/spoken/untagged/SB7R.xml',
 'bnc2014spoken-xml/spoken/untagged/SB9K.xml',
 'bnc2014spoken-xml/spoken/untagged/SBA6.xml',
 'bnc2014spoken-xml/spoken/untagged/SBB2.xml',
 'bnc2014spoken-xml/spoken/untagged/SBBC.xml',
 'bnc2014spoken-xml/spoken/untagged/SBBP.xml',
 'bnc2014spoken-xml/spoken/untagged/SBCL.xml',
 'bnc2014spoken-xml/spoken/untagged/SBCZ.xml',
 'bnc2014spoken-xml/spoken/untagged/SBDD.xml',
 'bnc2014spoken-xml/spoken/untagged/SBEV.xml',
 'bnc2014spoken-xml/spoken/untagged/SBFN.xml',
 'bnc2014spoken-xml/spoken/untagged/SBFR.xml',
 'bnc2014spoken-xml/spoken/untagged/SBG4.xml',
 'bnc2014spoken-xml/spoken/untagged/SBJM.xml',
 'bnc2014spoken-xml/spoken/untagged/SBKH.xml',
 'bnc2014spoken-xml/spoken/untagged/SBKM.xml',
 'bnc2014spoken-xml/spoken/untagged/SBKN.xml',
 'bnc2014spoken-xml/spoken/untagged/SBM6.xml',
 'bnc2014spoken-xml/spoken/untagged/SBNC.xml',
 'bnc2014spoken-xml/spoken/untagged/SBNU.xml',
 'bnc2014spoken-xml/spoken/untagged/SBPW.xml',
 'bnc2014spoken-xml/spoken/untagged/SBQ6.xml',
 'bnc2014spoken-xml/spoken/untagged/SBQZ.xml',

In [155]:
dialogue_data = []
for path in f_paths:  # for each of the dialogues
    for i in get_xml(path).xpath('//u'):
        u = i.xpath('./text()')
        n = i.xpath('./@n')[0]
        who = i.xpath('./@who')[0]
        trans = i.xpath('./@trans')
        # check if i contains the tag pause. If it does, then get the value of the pause attribute
        if i.xpath('./pause'):
            pause = i.xpath('./pause/@dur')
            pause = ', '.join(pause)
        else:
            pause = None

        # check if i contains the tag vocal. If it does, then get the value of the vocal attribute
        if i.xpath('./vocal'):
            vocal = i.xpath('./vocal/@desc')
            vocal = ', '.join(vocal)
        else:
            vocal = None

        # check if i contains the tag anon. If it does, then get the value of the anon attribute
        if i.xpath('./anon'):
            anonType = i.xpath('./anon/@type')
            anon_nameType = i.xpath('./anon/@nameType')
            anonType = ', '.join(anonType)
            anon_nameType = ', '.join(anon_nameType)
        else:
            anonType = None
            anon_nameType = None
        
        # check if i contains the tag unclear. If it does, then get the value of the unclear attribute
        if i.xpath('./unclear'):
            unclear = True
        else:
            unclear = False

        # check if i contains the tag trunc. If it does, then get the value of the trunc attribute
        if i.xpath('./trunc'):
            trunc = i.xpath('./trunc/./text()')[0]
        else:
            trunc = None

        # check if i contains the tag event. If it does, then get the value of the event attribute
        if i.xpath('./event'):
            event = i.xpath('./event/@desc')
            event = ', '.join(event)
        else:
            event = None

        # convert all lists to strings with coma separated values
        u = ', '.join(u)
        trans = ', '.join(trans)

        if trans == '':
            trans = None

        dialogue_data.append({
                'u': u,
                'n': n,
                'who': who,
                'trans': trans,
                'pause': pause,
                'vocal': vocal,
                'anonType': anonType,
                'anon_nameType': anon_nameType,
                'unclear': unclear,
                'trunc': trunc,
                'event': event,
                'dialogue': path.split('/')[-1].replace(".xml", "")
        })

In [156]:
# convert the list of dictionaries into a dataframe
df_dialogue_data = pd.DataFrame(dialogue_data)
df_dialogue_data

,u,n,who,trans,pause,vocal,anonType,anon_nameType,unclear,trunc,event,dialogue
0,words,1,S0094,None,None,None,None,None,False,None,None,S23A
1,it's a games word? like a computer games word?,2,S0095,None,None,None,None,None,False,None,None,S23A
2,yeah yeah,3,S0032,None,None,None,None,None,False,None,None,S23A
3,oh,4,S0095,None,None,None,None,None,True,None,None,S23A
4,"I it's something I , z-buffer fighting on a s...",5,S0032,overlap,None,None,None,None,True,None,None,S23A
...,...,...,...,...,...,...,...,...,...,...,...,...
1248105,"but , anyway , erm he was like , that's rea...",316,S0432,None,"short, short, short","laugh, laugh",None,None,True,None,None,SZYV
1248106,no I'm quite happy with,317,S0428,None,None,laugh,None,None,True,None,None,SZYV
1248107,"I'll just stick with it yeah , this was like ...",318,S0432,overlap,"short, short",None,None,None,True,let,None,SZYV
1248108,"yeah got to change my name , that's crazy is...",319,S0428,overlap,short,laugh,None,None,False,None,None,SZYV
1248109,"mm , yeah we probably should",320,S0432,overlap,short,None,None,None,False,None,None,SZYV

In [ ]:
# # Code for dialogue data
# dialogue_data = []
# df_speakers_data = []
# for _, path in enumerate(f_paths):  # for each of the dialogues
#     if _ == 1000:
#         break
#     df_speakers = pd.read_xml(path, xpath="//speaker")  # get the speakers
#     df_speakers_data.append(df_speakers)
#     for i in get_xml(path).xpath('//u'): # for each utterance
#         u = i.xpath('./text()')
#         n = i.xpath('./@n')[0]
#         who = i.xpath('./@who')[0]
#         trans = i.xpath('./@trans')
#         # check if i contains the tag pause. If it does, then get the value of the pause attribute
#         if i.xpath('./pause'):
#             pause = i.xpath('./pause/@dur')
#             pause = ', '.join(pause)
#         else:
#             pause = None

#         # check if i contains the tag vocal. If it does, then get the value of the vocal attribute
#         if i.xpath('./vocal'):
#             vocal = i.xpath('./vocal/@desc')
#             vocal = ', '.join(vocal)
#         else:
#             vocal = None

#         # check if i contains the tag anon. If it does, then get the value of the anon attribute
#         if i.xpath('./anon'):
#             anonType = i.xpath('./anon/@type')
#             anon_nameType = i.xpath('./anon/@nameType')
#             anonType = ', '.join(anonType)
#             anon_nameType = ', '.join(anon_nameType)
#         else:
#             anonType = None
#             anon_nameType = None
        
#         # check if i contains the tag unclear. If it does, then get the value of the unclear attribute
#         if i.xpath('./unclear'):
#             unclear = True
#         else:
#             unclear = False

#         # check if i contains the tag trunc. If it does, then get the value of the trunc attribute
#         if i.xpath('./trunc'):
#             trunc = i.xpath('./trunc/./text()')[0]
#         else:
#             trunc = None

#         # check if i contains the tag event. If it does, then get the value of the event attribute
#         if i.xpath('./event'):
#             event = i.xpath('./event/@desc')
#             event = ', '.join(event)
#         else:
#             event = None

#         # convert all lists to strings with coma separated values
#         u = ', '.join(u)
#         trans = ', '.join(trans)

#         if trans == '':
#             trans = None

#         df_utts = {
#             'u': u,
#             'n': n,
#             'who': who,
#             'trans': trans,
#             'pause': pause,
#             'vocal': vocal,
#             'anonType': anonType,
#             'anon_nameType': anon_nameType,
#             'unclear': unclear,
#             'trunc': trunc,
#             'event': event,
#             'dialogue': path.split('/')[-1].replace(".xml", "")
#         }

#         dialogue_data.append(df_utts)

In [ ]:
# # code for dialogue data2
# dialogue_data2 = []
# for _, path in enumerate(f_paths2):  # for each of the dialogues
#     # if _ == 1000:
#     #     break
#     for i in get_xml(path).xpath('//u'):
#         u_n = i.xpath('./@n')[0]
#         u_who = i.xpath('./@who')[0]
#         u_trans = i.xpath('./@trans')[0]
#         u_confidence = i.xpath('./@whoConfidence')[0]

#         full_data = []
#         w_pos_data = []
#         w_lemma_data = []
#         w_class_data = []
#         w_usas_data = []
#         w_words_data = []
#         for w in i.xpath('.//w'):
            
#             w_pos_data.append(w.xpath('./@pos')[0])
#             w_lemma_data.append(w.xpath('./@lemma')[0])
#             w_class_data.append(w.xpath('./@class')[0])
#             w_usas_data.append(w.xpath('./@usas')[0])
#             w_words_data.append(w.xpath('./text()')[0])
    

#         full_data.append({
#                 'u_n': u_n,
#                 'u_who': u_who,
#                 'u_trans': u_trans,
#                 'u_confidence': u_confidence,
#                 'w_pos': ', '.join(w_pos_data),
#                 'w_lemma': ', '.join(w_lemma_data),
#                 'w_class': ', '.join(w_class_data),
#                 'w_usas': ', '.join(w_usas_data),
#                 'w_words': ', '.join(w_words_data),
#                 'dialogue': path.split('/')[-1].replace("-tgd.xml", "")
#         })

#         dialogue_data2.extend(full_data)

# df_word_data = pd.DataFrame(dialogue_data2)